<!--header区域start-->
<header>
    <h2 class="title"><img src="http://img.wlkqzs.com/portrait.jpg" alt="伟联口腔"/>后台管理中心</h2>
    <a href="/" class="btn btn-success" id="home">网站首页</a>
    <button type="button" class="btn btn-danger" id="exit">退出登录</button>
</header>
<!--header区域end-->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var isLogouting = false;

        $('#exit').on('click', function() {
            if (isLogouting) {
                return;
            }

            $.post('/api/logout').then(function(res) {
                var def = $.Deferred();

                return res.code == 200 ? def.resolve() : def.reject(res.msg);
            }).done(function() {
                location.href = '/admin/login';
            }).fail(function(msg) {
                isLogouting = true;
                alert(typeof msg === 'string' ? msg : '服务器错误，请重试');
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var isLogouting = false;

        $('#exit').on('click', function () {

            if (isLogouting) {
                return;
            }
            $.post('/api/logout').then(function (res) {
                var def = $.Deferred();
                return res.code == 200 ? def.resolve() : def.reject(msg);
            }).done(function () {
                location.href = '/admin/login';
            }).fail(function (msg) {
                isLogouting = true;
                alert(typeof msg === 'string' ? msg : '服务器出现错误，请重试');
            });
        });
    })
</script>
