<div class="left-nav">
  <div class="left_nav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2 class="setup"><span class="icon-setup"></span>基本设置</h2>
  <ul>
    <li>
      <a href="/admin/index" class="active"><span class="icon-caret-right"></span>开始使用</a>
    </li>
    <li>
      <a href="/admin/password"><span class="icon-caret-right"></span>修改密码</a>
    </li>
    <li>
      <a href="javascript:;"><span class="icon-caret-right"></span>单页管理</a>
    </li>
    <li>
      <a href="javascript:;"><span class="icon-caret-right"></span>个人资料</a>
    </li>
    <li>
      <a href="javascript:;"><span class="icon-caret-right"></span>留言管理</a>
    </li>
    <li>
      <a href="javascript:;"><span class="icon-caret-right"></span>栏目管理</a>
    </li>
  </ul>
  <h2 class="setup"><span class="icon-column"></span>栏目管理</h2>
  <ul>
    <li>
      <a href="/admin/article_list"><span class="icon-caret-right"></span>资讯管理</a>
    </li>
    <li>
      <a href="/admin/article"><span class="icon-caret-right"></span>添加资讯</a>
    </li>
    <li>
      <a href="/admin/doctor_list"><span class="icon-caret-right"></span>医师团队</a>
    </li>
    <li>
      <a href="/admin/doctor"><span class="icon-caret-right"></span>添加医师</a>
    </li>
    <li>
      <a href="/admin/case_list"><span class="icon-caret-right"></span>案例中心</a>
    </li>
    <li>
      <a href="/admin/case"><span class="icon-caret-right"></span>添加案例</a>
    </li>
  </ul>
</div>