<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>伟联口腔-新增资讯</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/index.css">
</head>

<body>

<%include('./common/header')%>

<div class="wrap">

    <%include('./common/nav')%>

    <!--main start-->
    <div class="main">
        <div class="breadcrumb">
            <a href="/">首页</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">添加内容</div>
            <div class="panel-body">
                <form action="javascript:;" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="classify" class="col-sm-2 control-label">分类名:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="classify" value="<%= $data.type %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="title" value="<%= $data.title %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keyword" class="col-sm-2 control-label">关键字:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="keyword" value="<%= $data.keyword %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cont" class="col-sm-2 control-label">内容描述:</label>
                        <div class="col-sm-8">
                            <script id="cont" name="content" type="text/plain" style="width: 100%;height: 600px;"></script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="clickNum" class="col-sm-2 control-label">点击量:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="clickNum" value="<%= $data.clickNum %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sort" class="col-sm-2 control-label">排序:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="sort" value="<%= $data.sort %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-info" id="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--main 区域end-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {
        var content = '<%- $data.content.replace(/(["'}])/g, '\\$1') %>';
        var articleId = <%= $data.id %>;
        var ue = UE.getEditor('cont', {
            serverUrl: '/ueditor/ue'
         });

        ue.ready(function () {
            ue.setContent(content);
            var isRequesting = false;
            $('#submit').on('click',function () {
                if (isRequesting){
                    return;
                }
                var type = $('#classify').val().trim();
                var title = $('#title').val().trim();
                var keyword = $('#keyword').val().trim();
                var ueContent = ue.getContent();
                var clickNum = $('#clickNum').val() || 0;
                var sort = $('#sort').val() || 0;
                isRequesting = true;
                var url = '/api/article/create';

                var data = {
                    type: type,
                    title: title,
                    keyword: keyword,
                    content: ueContent,
                    clickNum: clickNum,
                    sort: sort
                };

                if (articleId){
                    data.id = articleId;
                    url = '/api/article/update';
                }

                $.post(url,data).then(function (res) {
                    var def = $.Deferred();
                    return res.code == 200 ? def.resolve(res) : def.reject(res.msg);
                }).done(function (res) {
                    alert(res.msg);
                    if (!articleId){
                        location.href = '/admin/article?id ='+res.articleId;
                    }
                    location.href = '/admin/article_list';
                }).fail(function (msg) {
                    alert(typeof msg === 'string'? msg :'服务器出现错误');
                }).always(function () {
                    isRequesting = false;
                });
            })
        });


    });
</script>
</body>

</html>