<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>伟联口腔-资讯列表</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/index.css"/>
</head>

<body>
<!--header区域start-->
<%include('./common/header')%>
<!--header区域end-->
<div class="wrap">
    <!--左边菜单栏 start-->
    <%include('./common/nav')%>
    <!--左边菜单栏 end-->

    <!--main start-->
    <div class="main">
        <div class="breadcrumb">
            <a href="index.html">首页</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">资讯列表</div>
            <div class="panel-body">
                <a class="btn btn-warning" href="/admin/article">添加资讯</a>
                <div class="table-responsive">
                    <table class="table table-hover" style="margin-top: 20px; text-align: center">
                        <thead>
                        <th>ID</th>
                        <th>排序</th>
                        <th>标题</th>
                        <th>关键字</th>
                        <th>更新时间</th>
                        <th>点击量</th>
                        <th>操作</th>
                        </thead>
                        <tbody id="article-list">
                        <% for (var i = 0,lens = $data.rows.length;i < lens;i++){ %>
                        <% var article =$data.rows[i] %>
                        <tr>
                            <td><%= article.id%></td>
                            <td><%= article.sort%></td>
                            <td><%= article.title%></td>
                            <td><%= article.keyword%></td>
                            <td><%= article.updatedAt%></td>
                            <td><%= article.clickNum%></td>
                            <td>
                                <a class="btn btn-info" href="/admin/article?id=<%= article.id%>">修改</a>
                                <button class="btn btn-danger delete-article" data-id="<%= article.id%>">删除</button>
                            </td>
                        </tr>
                        <% }%>
                        </tbody>


                    </table>
                </div>
            </div>
            <% if ($data.count >0) {%>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-11">
                        <nav aria-label="Page navigation" style="text-align: center;">
                            <ul class="pagination">
                                <%- $imports.pagination($data.page, $data.count, $data.size, '/admin/article_list')%>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(function () {
        var isRequesting = false;
        $('#article-list').on('click', '.delete-article', function () {
            if (isRequesting) {
                return;
            }

            if (!confirm('确定要删除此条资讯吗？')) {
                return;
            }

            var id = $(this).data('id');//使用data-id
            isRequesting = true;
            $.post('/api/article/delete', {id: id}).then(function (res) {
                var def = $.Deferred();
                return res.code == 200 ? def.resolve() : def.reject(res.msg);
            }).done(function () {
                alert('删除成功!');
                location.reload();
            }).fail(function (msg) {
                isRequesting = false;
                alert(typeof msg === 'string' ? msg : '服务器出现错误,请重试');
            });

        });
    });
</script>
</body>

</html>