<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>后台管理-新增医师</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/index.css"/>
</head>

<body>
<!--header区域start-->
<%include('./common/header')%>
<!--header区域end-->
<div class="wrap">
    <!--nav start-->
    <%include('./common/nav')%>
    <!--nav end-->

    <!--main start-->
    <div class="main">
        <div class="breadcrumb">
            <a href="/">首页</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">添加医师</div>
            <div class="panel-body">
                <form action="javascript:;" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control " id="name" value="<%= $data.name %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">注册类型:</label>
                        <div class="col-sm-8">
                            <input type="text" name="type" class="form-control " id="type" value="<%= $data.type %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="skilled" class="col-sm-2 control-label">擅长项目:</label>
                        <div class="col-sm-8">
                            <input type="text" name="model" class="form-control " id="skilled" value="<%= $data.skilled%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duty" class="col-sm-2 control-label">职务:</label>
                        <div class="col-sm-8">
                            <input type="text" name="unit" class="form-control " id="duty" value="<%= $data.duty%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="brief" class="col-sm-2 control-label">简介:</label>
                        <div class="col-sm-8">
                            <input type="text" name="min-order" class="form-control " id="brief" value="<%= $data.brief%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cont" class="col-sm-2 control-label">图片:</label>
                        <div class="col-sm-8">
                            <script id="cont" name="content" type="text/plain" style="width: 100%;height: 500px;"></script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sort" class="col-sm-2 control-label">排序:</label>
                        <div class="col-sm-8">
                            <input type="text" name="supply-ability" class="form-control " id="sort" value="<%= $data.sort%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-info" id="submit-doctor">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {
        var content = '<%- $data.content.replace(/(["'}])/g, '\\$1') %>';
        var doctorId = <%= $data.id %>;
        var ue = UE.getEditor('cont', {
            serverUrl: '/ueditor/ue'
        });

        ue.ready(function () {
            ue.setContent(content);
            var isRequesting = false;
            $('#submit-doctor').on('click',function () {
                if (isRequesting){
                    return;
                }
                var name = $('#name').val().trim();
                var type = $('#type').val().trim();
                var ueContent = ue.getContent();
                var skilled = $('#skilled').val().trim();
                var duty = $('#duty').val().trim();
                var brief = $('#brief').val().trim();
                var sort = $('#sort').val() || 0;

                isRequesting = true;
                var url = '/api/doctor/create';

                var data = {
                    name:name,
                    type:type,
                    content:ueContent,
                    skilled:skilled,
                    duty:duty,
                    brief:brief,
                    sort:sort
                };
                if (doctorId){
                    data.id = doctorId;
                    url = '/api/doctor/update';
                }

                $.post(url,data).then(function (res) {
                    var def = $.Deferred();
                    return res.code == 200 ? def.resolve(res):def.reject(res.msg);
                }).done(function (res) {
                    alert(res.msg);
                    if (!doctorId){
                        location.href = '/admin/doctor?id='+res.doctorId;
                    }
                    location.href = '/admin/doctor_list';
                }).fail(function (msg) {
                    alert(typeof msg === 'string'? msg :'服务器出现错误');
                }).always(function () {
                    isRequesting = false;
                });
            });
        });
    });
</script>
</body>

</html>