<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>后台管理</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/index.css"/>
</head>

<body>
<!--header区域start-->
<%include('./common/header')%>
<!--header区域end-->
<!--nav start-->
<%include('./common/nav')%>
<!--nav end-->
<!--main start-->
<div class="main">
    <div class="breadcrumb">
        <a href="/">首页</a>
    </div>
    <div class="wrap">
        <div class="welcome"></div>
    </div>
</div>

<!--main end-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>

</html>