<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>伟联口腔-修改密码</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/index.css"/>
</head>

<body>
<%include('./common/header')%>
<div class="wrap">
    <!--nav start-->
    <%include('./common/nav')%>
    <!--nav end-->
    <!--main start-->
    <div class="main">
        <div class="breadcrumb">
            <a href="/">首页</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">修改管理员密码</div>
            <div class="panel-body">
                <form action="javascipt:;" class="form-horizontal" role="form" id="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">管理员账号:</label>
                        <div class="col-sm-5 control-label " style="text-align: left">wlkq</div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">原始密码:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " id="pwd" placeholder="请输入原始密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPwd" class="col-sm-2 control-label">新密码:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " id="newPwd" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPwd" class="col-sm-2 control-label">确认新密码:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control " id="confirmPwd" placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-9">
                            <button class="btn btn-info" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--main 区域end-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(function () {
        var isRequesting = false;
        $('#form').on('submit', function () {
            if (isRequesting) {
                return;
            }
            var password = $('#pwd').val().trim();
            var newPwd = $('#newPwd').val().trim();
            var confirmPwd = $('#confirmPwd').val().trim();

            if (!password || !newPwd || !confirmPwd) {
                return alert('相关密码不能为空！');
            }

            if (newPwd !== confirmPwd) {
                return alert('2次密码输入不一致!');
            }
            isRequesting = true;

            $.post('/api/password', {
                password: password,
                newPassword: newPwd,
                confirmPassword: confirmPwd
            }).then(function (res) {
                var d = $.Deferred();
                return res.code == 200 ? d.resolve(res.msg) : d.reject(res.msg);
            }).always(function (msg) {
                alert(typeof msg === 'string' ? msg : '服务器出现错误!');
            });
        });
    });
</script>
</body>

</html>