<div class="ck-slide" id="ck-slide">
    <ul class="ck-slide-wrapper">
        <% for (var i = 0, len = $data.doctorRows.length; i< len ;i++){ %>
        <% var doctor = $data.doctorRows[i]; %>
        <li>
            <a href="javascript:;"><img src="<%= doctor.thumbnail%>" class="lazy" alt="<%= doctor.name%>"></a>
            <div class="doctor_detail">
                <h3><a href="/doctor_detail?id=<%= doctor.id%>"><%= doctor.name%></a></h3>
                <h4>[伟联口腔资深医师]</h4>
                <p class="duty"><%= doctor.type%></p>
                <p class="duty"><%= doctor.duty%></p>
                <p class="brief"><%= doctor.brief%></p>
                <p class="skilled"><span>擅长项目:&nbsp;&nbsp;</span><%= doctor.skilled %></p>
                <p><a href="/doctor" class="zs">资深专家</a> <a href="/doctor_detail?id=<%= doctor.id%>" class="detail">详情</a></p>
            </div>
        </li>
        <%}%>
    </ul>
    <a href="javascript:;" class="ctrl-slide ck-prev">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
    <!--<div class="ck-slidebox">-->
    <!--<div class="slideWrap">-->
    <!--<ul class="dot-wrap">-->
    <!--<li class="current"><em>1</em></li>-->
    <!--<li><em>2</em></li>-->
    <!--<li><em>3</em></li>-->
    <!--<li><em>4</em></li>-->
    <!--<li><em>5</em></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
</div>