<div class="left_ad">
    <a href="javascript:;" class="qiao_chat"><img src="../../../static/img2/ad.png" alt="伟联口腔"></a>
</div>

<!--clan_slider start-->
<div class="clan_slider">
    <ul>
        <li>
            <a href="javascript:;" class="qiao_chat">
                <img src="http://img.wlkqzs.com/open_qiao.jpg" class="lazy" alt="右侧导航">
            </a>
        </li>
        <li >
            <a href="#f_chat" class="web_chat">
                <img src="http://img.wlkqzs.com/open_what.jpg" class="lazy" alt="右侧导航">
            </a>

        </li>
        <li>
            <a target="_blank" href="https://weibo.com/u/6680613125?refer_flag=1001030103_&is_hot=1">
                <img src="../../../static/img2/guanwei.jpg" class="lazy" alt="右侧导航">
            </a>
        </li>
        <li>
            <a href="https://www.meituan.com/yiliao/40798388/" target='_blank'>
                <img src="../../../static/img2/meituan.jpg" class="lazy" alt="右侧导航">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://img.wlkqzs.com/go_top.jpg"  class="go_top lazy" alt="">
            </a>
        </li>
    </ul>
</div>
<!--clan_slider end-->
<!--footer start-->
<footer class="footer">
    <div class="inner">
        <div class="footer_left">
            <img src="http://img.wlkqzs.com/footer_logo.png" class="lazy" alt="伟联口腔">
        </div>
        <div class="footer_mid">
            <p>广州地区诊所:天河区龙口西路216号</p>
            <p>佛山地区诊所:三水区西南街道文锋东路14号</p>
            <p>门诊时间：8：30-21：00（节假日不休）</p>

            <p class="beian"><a href="http://www.miitbeian.gov.cn" target="_blank" style="color: #fff;">备案号:粤ICP备17132073号-1</a></p>
            <p>版权:广州薇笑科技有限公司</p>
            <p>*本网站信息仅供参考，不能作为诊疗及医疗依据；部分图片来源于网络，如有侵权，可发送邮件联系删除。</p>
        </div>
        <div class="footer_right">
            <p>扫描最新优惠 | 手机随时查询 | 口腔实时资讯</p>
            <div class="code_1">
                <a href="javascript:;" name="f_chat" style="border: none"><img src="http://img.wlkqzs.com/wlkq_gzh.jpg" class="lazy" style="border: none" alt=""></a>
            </div>
            <div class="code_2">
                <a href="javascript:;"><img src="http://img.wlkqzs.com/wlkq_qt.png" class="lazy" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/js/stran.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/jquery.flexslider-min.js"></script>
<script src="/static/js/slide.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src="/static/js/open_chat.js"></script>
<script>
    $(function () {
        $("img.lazy").lazyload({
            threshold : 200,
            effect : "fadeIn"
        });
    });
</script>
