<!--top start-->
<div class="top">
    <div class="inner">
        <div class="welcome">
            <p>伟联口腔门诊部起源于1980年，历经30多年的发展，成为中国高端连锁口腔机构之一！致力于提供优质服务的高档专业齿科。</p>
        </div>
        <div class="stanc"><a id="StranLink" title="點擊以繁體中文方式浏覽" href="javascript:StranBody()">繁體中文</a></div>
        <div class="phone">020-38370866 0757-87779898</div>
    </div>
</div>
<!--top end-->
<header class="header clearfix">
    <div class="inner">
        <div class="header_bar_1"><img src="http://img.wlkqzs.com/logo.png" alt="header-bar-1"></div>
        <div class="header_bar_2"><img src="http://img.wlkqzs.com/header_bar_2.png" alt="header-bar-2"></div>
        <div class="header_bar_3"><img src="http://img.wlkqzs.com/header_bar_right.png" alt="header-bar-3"></div>
    </div>
</header>

<nav class="nav">
    <div class="inner">
        <ul class="menu">
            <li><a href="/">网站首页</a></li>
            <li class="featured">
                <a href="/synopsis">特色项目</a>
                <div id="featuredMenu" class="featured_menu">
                    <ul class="cate_menu">
                        <li data-index="1"><a href="#">牙齿种植</a></li>
                        <li data-index="2"><a href="#">牙齿矫正</a></li>
                        <li data-index="3"><a href="#">牙齿修复</a></li>
                        <li data-index="4"><a href="#">牙齿美容</a></li>
                        <li data-index="5"><a href="#">综合治疗</a></li>
                        <li data-index="6"><a href="#">儿童齿科</a></li>
                    </ul>
                    <div id="menuCont" class="cate_pop">
                        <div class="cate_part" id="cate_item1">
                            <dl>
                                <dt>牙齿种植</dt>
                                <dd><a href="#">无痛微创种植</a></dd>
                                <dd><a href="#">即种即用种植</a></dd>
                                <dd><a href="#">4D精细化导板种植</a></dd>
                                <dd><a href="#">单颗缺牙</a></dd>
                                <dd><a href="#">多颗缺牙</a></dd>
                                <dd><a href="#">半口/全口缺牙</a></dd>
                                <dd><a href="#">烤瓷牙失败</a></dd>
                                <dd><a href="#">镶牙</a></dd>
                            </dl>
                        </div>
                        <div class="cate_part" id="cate_item2">
                            <dl>
                                <dt>牙齿矫正</dt>
                                <dd><a href="#">传统金属正畸</a></dd>
                                <dd><a href="#">金属自锁正畸</a></dd>
                                <dd><a href="#">半隐形陶瓷正畸</a></dd>
                                <dd><a href="#">全隐形正畸</a></dd>
                                <dd><a href="#">虎牙外突矫正</a></dd>
                                <dd><a href="#">龅牙矫正</a></dd>
                                <dd><a href="#">地包天矫正</a></dd>
                                <dd><a href="#">牙列不齐矫正</a></dd>
                                <dd><a href="#">牙齿稀疏矫正</a></dd>
                                <dd><a href="#">错颌反颌矫正</a></dd>
                            </dl>
                        </div>
                        <div class="cate_part" id="cate_item3">
                            <dl>
                                <dt>牙齿修复</dt>
                                <dd><a href="#">镶牙</a></dd>
                                <dd><a href="#">牙齿缺失</a></dd>
                                <dd><a href="#">牙齿稀疏</a></dd>
                                <dd><a href="#">假牙</a></dd>
                                <dd><a href="#">全瓷牙</a></dd>
                                <dd><a href="#">烤瓷牙</a></dd>
                            </dl>
                        </div>
                        <div class="cate_part" id="cate_item4">
                            <dl>
                                <dt>牙齿美容</dt>
                                <dd><a href="#">瓷贴面</a></dd>
                                <dd><a href="#">四环素牙</a></dd>
                                <dd><a href="#">氟斑牙</a></dd>
                                <dd><a href="#">烟渍牙</a></dd>
                                <dd><a href="#">茶渍牙</a></dd>
                                <dd><a href="#">咖啡白</a></dd>
                                <dd><a href="#">冷光美白</a></dd>
                                <dd><a href="#">遗传性色素牙</a></dd>
                            </dl>
                        </div>
                        <div class="cate_part" id="cate_item5">
                            <dl>
                                <dt>综合治疗</dt>
                                <dd><a href="#">纳米补牙</a></dd>
                                <dd><a href="#">牙周病</a></dd>
                                <dd><a href="#">牙髓炎</a></dd>
                                <dd><a href="#">根管治疗</a></dd>
                                <dd><a href="#">牙龈炎</a></dd>
                                <dd><a href="#">牙龈出血</a></dd>
                                <dd><a href="#">拔智齿</a></dd>
                                <dd><a href="#">超声骨刀拔牙</a></dd>
                            </dl>
                        </div>
                        <div class="cate_part" id="cate_item6">
                            <dl>
                                <dt>儿童齿科中心</dt>
                                <dd><a href="#">口腔不良习惯矫正</a></dd>
                                <dd><a href="#">龋齿</a></dd>
                                <dd><a href="#">乳牙滞留</a></dd>
                                <dd><a href="#">牙外伤</a></dd>
                                <dd><a href="#">多生牙</a></dd>
                                <dd><a href="#">窝沟封闭</a></dd>
                                <dd><a href="#">涂氟</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/doctor">医护团队</a></li>
            <li><a href="/implant">限时优惠</a></li>
            <li><a href="/toothwash">公益种牙</a></li>
            <li><a href="/synopsis">医院介绍</a></li>
            <!--<li><a href="/pediatric">儿童牙科</a></li>-->
            <li><a href="/contact_us">联系我们</a></li>
        </ul>

    </div>
</nav>