.banner ul li:nth-child(1) {
    background: url(http://img.wlkqzs.com/beauty_banner_1.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(2) {
    background: url(http://img.wlkqzs.com/beauty_banner_2.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(3) {
    background: url(http://img.wlkqzs.com/beauty_banner_3.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(4) {
    background: url(http://img.wlkqzs.com/beauty_banner_4.jpg) 50% no-repeat;
    height: 125px
}

.mt30 {
    margin-top: 30px
}

.container .item_title .title {
    position: relative;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px
}

.container .item_title .title span {
    font-size: 26px;
    font-weight: bolder;
    display: inline-block;
    line-height: 51px;
    height: 51px;
    border-bottom: 3px #00b7ee solid
}

.container .item_title .title a {
    position: absolute;
    color: #fff;
    width: 78px;
    height: 30px;
    right: 0;
    top: 50%;
    margin-top: -15px;
    font: 14px/30px 'microsoft Yahei';
    text-align: center;
    background-color: #00a0e9;
    border-radius: 2px
}

.container .item_0 h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 60px auto 20px;
    color: #012e72
}

.container .item_0 h2 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 500px;
    line-height: 30px;
    margin: 30px auto;
    border: 1px #d9d9d9 solid;
    color: #d9d9d9
}

.container .item_0 p {
    font-size: 18px;
    text-indent: 26px;
    line-height: 28px;
    margin-bottom: 30px
}

.container .item_0 .item_0_left {
    float: left;
    margin-right: 38px;
    width: 655px
}

.container .item_0 .item_0_right {
    float: left
}

.container .item_0 .item_0_right h3 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    padding-top: 30px
}

.container .item_0 .item_0_right .p2 h3 {
    padding-top: 15px
}

.container .item_0 .item_0_right .p1, .item_0_right .p2, .item_0_right .p3 {
    width: 407px;
    height: 105px;
    margin-bottom: 2px
}

.container .item_0 .item_0_right .p1 {
    background: url(http://img.wlkqzs.com/ycxf_05.jpg) no-repeat
}

.container .item_0 .item_0_right .p2 {
    background: url(http://img.wlkqzs.com/ycxf_06.jpg) no-repeat
}

.container .item_0 .item_0_right .p3 {
    background: url(http://img.wlkqzs.com/ycxf_07.jpg) no-repeat
}

.container .item_1 {
    margin-top: 20px
}

#tab ul li {
    float: left;
    height: 55px;
    width: 104px;
    background-color: #3b97d7;
    font: 18px/55px '微软雅黑';
    color: #fff;
    text-align: center;
    margin-left: 6px
}

#tab ul li:nth-child(1) {
    margin-left: 0
}

#tab ul li:hover {
    background-color: #2e6dae;
    position: relative
}

#tab ul li.ac {
    background-color: #2e6dae;
    position: relative
}

#tab ul li.ac:after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: #2e6dae;
    left: 47%;
    bottom: -14px
}

.container .item_inner1 .pro_1 {
    width: 519px;
    float: left
}

.container .item_inner1 .pro_2 {
    width: 170px;
    float: left;
    height: 320px;
    border: 10px #ccc solid;
    border-left: none;
    margin-top: 55px
}

.container .item_inner1 .pro_3 {
    width: 535px;
    height: 270px;
    float: left;
    background-color: #fff;
    margin-right: 30px;
    position: absolute;
    margin-left: 580px;
    margin-top: 90px
}

.container .item_inner1 .pro_3 p {
    text-indent: 20px;
    margin: 20px 0;
    line-height: 26px;
    font-size: 18px
}

.container .item_inner1 .pro_3 .zx {
    width: 420px;
    line-height: 70px;
    margin: 30px auto;
    background-color: #e84400;
    border-radius: 35px;
    text-align: center
}

.container .item_inner1 .pro_3 .zx a {
    font-size: 24px;
    color: #fff
}

.container .item_2 {
    margin-top: 50px;
    overflow: hidden
}

.container .item_1 .pt h3, .container .item_2 .mt h3 {
    margin: 24px auto;
    font-size: 18px;
    color: #444;
    line-height: 30px;
    text-indent: 2em
}

#b_tab ul li {
    float: left;
    display: block;
    width: 270px;
    height: 55px;
    background-color: #3b97d7;
    font: 18px/55px '微软雅黑';
    color: #fff;
    text-align: center;
    margin-left: 6px
}

#b_tab ul li:nth-child(1) {
    margin-left: 0
}

#b_tab ul li.active {
    background-color: #2e6dae;
    position: relative
}

#b_tab ul li.active:after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: #2e6dae;
    left: 46%;
    bottom: -14px
}

.container .item_1 .pt .tab_cont, .container .item_2 .mt .tab_cont {
    margin-top: 28px
}

.tab_cont .show_cont .cont_left {
    width: 240px;
    height: 195px
}

.tab_cont .show_cont .cont_left img {
    width: 240px;
    height: 118px
}

.dd_title {
    text-align: center;
    font: 14px "microsoft Yahei";
    line-height: 48px;
    margin-top: 4px;
    background-color: #f2f2f2
}

.tab_cont .show_cont .cont_mid {
    height: 136px;
    margin-left: 20px;
    padding: 20px 26px;
    background-color: #f1f1f1;
    width: 508px
}

.tab_cont .show_cont .cont_mid h5 {
    text-align: center;
    font: 18px/40px '微软'
}

.tab_cont .show_cont .cont_mid p {
    line-height: 25px;
    font-size: 13px
}

.container .item_4 ul li {
    float: left;
    width: 162px;
    padding-right: 13px;
    margin-right: 12px;
    background: url(http://img.wlkqzs.com/db2.gif) center right no-repeat
}

.container .item_4 ul li:nth-last-child(1) {
    background: 0 0
}

.container .item_4 ul li:nth-last-child(1) {
    margin-right: 0;
    padding-right: 0
}

.container .item_4 ul li h4 {
    color: #414141;
    font: italic bold 22px microsoft;
    height: 44px;
    line-height: 44px;
    text-align: left;
    padding-left: 55px;
    position: relative
}

.container .item_4 ul li h4 i {
    display: block;
    width: 36px;
    height: 36px;
    background: url(http://img.wlkqzs.com/sprit.png) no-repeat;
    position: absolute;
    left: 22px;
    bottom: 3px;
    transform: skew(-15deg)
}

.container .item_4 ul li h4 i.p02 {
    background-position: -44px 0
}

.container .item_4 ul li h4 i.p03 {
    background-position: -87px 0
}

.container .item_4 ul li h4 i.p04 {
    background-position: -130px 0
}

.container .item_4 ul li h4 i.p05 {
    background-position: -173px 0
}

.container .item_4 ul li h4 i.p06 {
    background-position: -216px 0
}

.container .item_4 ul li img {
    border: 1px solid #dedede;
    display: block;
    margin: 18px auto 10px;
    width: 100%
}

.container .item_4 ul li span {
    display: block;
    line-height: 28px;
    color: #6b6b6b;
    font-size: 14px;
    font-weight: bolder
}

.tc {
    text-align: center
}

.container .item_5 {
    margin: 10px 0 0 0
}

.container .item_5 .zj img {
    width: 1100px
}

.container .item_6 {
    margin-bottom: 35px
}

.container .item_6 .item6_cont ul li {
    font-size: 14px;
    line-height: 30px;
    float: left
}

.container .item_6 .item6_cont ul li a {
    display: block;
    width: 255px;
    height: 30px;
    padding-left: 14px;
    overflow: hidden;
    color: #444
}

.container .item_6 .item6_cont ul li a:hover {
    color: #a11
}