/*top start*/
.top {
    width: 100%;
    height: 30px;
    background: #a8a8a8;
    color: #FFF;
    font: 12px/30px "微软雅黑";
}

.top .welcome {
    width: 730px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    float: left;
}

.top .welcome p {
    margin: 0;
}

.top .stanc {
    float: right;
}

.top .stanc a {
    color: #fff;
}

.top .phone {
    float: left;
    background: url(http://img.wlkqzs.com/phone.jpg) no-repeat left center;
    padding-left: 20px;
}

/*top end*/

/*header start*/
.header {
    width: 100%;
    height: 125px;
}

.header .header_bar_1, .header .header_bar_2 {
    float: left;
}

.header .header_bar_2 {
    margin: 35px 0 0 95px;
}

.header .header_bar_3 {
    float: right;
    margin-top: 35px;
}

/*header end*/

/*nav start*/
.nav {
    width: 100%;
    height: 50px;
    background: #004986;
    position: relative;
}

.nav .menu li {
    float: left;
}

.nav .menu .featured {
    position: relative;
}

.nav .menu li a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

/*.menu li a:first-child{*/
/*margin-left: 20px;*/
/*}*/
.menu li a:hover {
    background-color: #00417f;
}

.featured_menu {
    position: absolute;
    left: -20px;
    top: 31px;
    margin: 20px;
    width: 150px;
    background: #004986b5;
    z-index: 999;
    display: none;
}

.featured_menu li {
    border-bottom: 1px solid #ccc;
}

.featured_menu li a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-indent: 1em
}

.featured_menu .cate_menu li .ac {
    background: red;
}

.featured_menu .ac a {
    color: #fff;
}

.cate_pop {
    width: 777px;
    min-height: 400px;
    background: #00498687;
    border: 1px solid #a9b7b9;
    position: absolute;
    top: 0;
    left: 150px;
    padding: 10px 20px;
    display: none;
}

.cate_part {
    display: none
}

.cate_pop dt {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    font-weight: bold
}

.cate_pop dd {
    float: left;
    margin: 10px 10px 0 0
}

#menuCont a {
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}

/*nav end*/

/*footer start*/
.footer {
    height: 225px;
    width: 100%;
    background-color: #004986;
    color: #fff;
    padding-top: 50px;
}

.footer_left, .footer_mid, .footer_right {
    float: left;
}

.footer_left {
    width: 285px;
}

.footer_mid {
    width: 350px;
    margin: 0 25px 0 70px;
}

.footer_mid p {
    line-height: 24px;
    font-size: 14px;
}

.beian {
    margin-top: 12px;
}

.code_1, .code_2 {
    float: left;
    margin-left: 23px;
}

.code_1 img, .code_2 img {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}

/*footer end*/

/*left_ad start*/
.left_ad {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 155px;
}

/*.left_ad img {*/
/*width: 150px;*/
/*height: 330px;*/
/*}*/

/*left_ad end*/

/*clan_slider start*/
.clan_slider {
    width: 65px;
    height: 315px;
    position: fixed;
    top: 270px;
    right: 1px;
    z-index: 900;
}

.clan_slider ul {
    float: right;
    width: 65px;
    height: 315px;
}

.clan_slider ul li {
    float: right;
    width: 65px;
    height: 72px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px #fff solid;
}

.clan_slider ul li:nth-child(5) {
    border-bottom: none;
}

.clan_slider ul li .web_chat img {
    position: relative;
    top: 0;
    left: 0;
}

.clan_slider ul li img {
    margin-left: -66px;
    transition: all .5s;
}

.clan_slider ul li:nth-child(1):hover img {
    transition: all .5s;
    margin-left: 0;
}

.clan_slider ul li:nth-child(2):hover img {
    transition: all .5s;
    margin-left: 0;
}

.clan_slider ul li:nth-child(3):hover img {
    transition: all .5s;
    margin-left: 0;
}

.clan_slider ul li:nth-child(4):hover img {
    transition: all .5s;
    margin-left: 0;
}

.clan_slider ul li img.go_top {
    margin-left: 0;
}

/*clan_slider end*/


