.banner ul li:nth-child(1) {
    background: url(http://img.wlkqzs.com/beauty_banner_1.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(2) {
    background: url(http://img.wlkqzs.com/beauty_banner_2.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(3) {
    background: url(http://img.wlkqzs.com/beauty_banner_3.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(4) {
    background: url(http://img.wlkqzs.com/beauty_banner_4.jpg) 50% no-repeat;
    height: 125px
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.item_0 h1 {
    text-align: center;
}

.item_0 .cont .left {
    float: left;
    width: 478px;
}

.item_0 .cont .left .img {
    float: left;
}

.item_0 .cont .right {
    float: left;
    width: 560px;
    margin-left: 30px;
}

.item_0 .cont .right p {
    font-size: 19px;
    line-height: 30px;
}

.item_0 .cont .right h2 {
    height: 75px;
    line-height: 75px;
    font-size: 30px;
    color: #2185ff;
}

.item_0 .cont .right a {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ac2925;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.item_1 .item_1_cont ul li {
    float: left;
    margin-right: 50px;
    width: 236px;
    height: 450px;
    background: url(http://img.wlkqzs.com/wtbg.png) bottom;
}

.item_1 .item_1_cont ul li:nth-last-child(1) {
    margin-right: 0;
}

.item_1 .item_1_cont ul li p {
    font: 15px/22px '微软雅黑';
    color: #fff;
    width: 212px;
    display: block;
    margin: 10px auto 0;
}

.item_1 .item_1_cont ul li p strong {
    position: relative;
    width: 116px;
    height: 39px;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    font: 18px '微软雅黑'
}

.item_1 .item_1_cont ul li p strong:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #fff;
    left: 30%;
    bottom: 0
}

.item_2 {
    background: #eee;
    position: relative;
    height: 1010px;
    padding-top: 10px;
}

.item_2 h1 {
    text-align: center;
    margin-bottom: 20px;
}

.item_2 ul li {
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.item_2 ul .pic1 {
    margin-left: -335px;
    top: 88px;
}

.item_2 ul .pic2 {
    margin-left: 50px;
    top: 100px;
}

.item_2 ul .pic3 {
    margin-left: 128px;
    top: 450px;
}

.item_2 ul .pic4 {
    margin-left: -197px;
    top: 570px;
}

.item_2 ul .pic5 {
    margin-left: -480px;
    top: 400px;
}

.item_3 {
    height: 1200px;
}

.item_3 .cont h1 {
    text-align: center;
    margin-top: 50px;
    height: 80px;
    line-height: 80px;
}

.item_3 .cont_t .t_pic {
    float: left;
}

.item_3 .cont_t .t_letter {
    float: left;
}

.item_3 .cont_t .t_letter ul li {
    width: 400px;
    padding-left: 110px;
    margin: 20px 0 10px 10px;
    font-size: 21px;
    line-height: 30px;
    color: #313131;
}

.item_3 .cont_t .t_letter ul li.second {
    position: relative;
}

.item_3 .cont_t .t_letter ul li.second::after {
    content: '01';
    position: absolute;
    top: 35px;
    left: 38px;
    color: #fff;
}

.item_3 .cont_t .t_letter ul li.second::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: #b5d3f8;
    transform: rotate(45deg);
    top: 20px;
    left: 20px;
}

.item_3 .cont_t .t_letter ul li.third {
    position: relative;
}

.item_3 .cont_t .t_letter ul li.third::after {
    content: '02';
    position: absolute;
    top: 35px;
    left: 38px;
    color: #fff;
}

.item_3 .cont_t .t_letter ul li.third::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: #b5d3f8;
    transform: rotate(45deg);
    top: 20px;
    left: 20px;
}

.item_3 .cont_t .t_letter ul li.fourth {
    position: relative;
}

.item_3 .cont_t .t_letter ul li.fourth::after {
    content: '03';
    position: absolute;
    top: 35px;
    left: 38px;
    color: #fff;
}

.item_3 .cont_t .t_letter ul li.fourth::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: #b5d3f8;
    transform: rotate(45deg);
    top: 20px;
    left: 20px;
}

.shape {
    width: 60px;
    height: 40px;
    margin: 0 auto;
    background: #e5e5e5;
    margin-bottom: 3px;
}

.item_3 .cont_b .b_letter {
    float: left;
    width: 520px;
}

.item_3 .cont_b .b_letter h2 {
    width: 386px;
    height: 60px;
    line-height: 60px;
    background: #00a0e9;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 30px 0;
}

.item_3 .cont_b .b_letter p {
    width: 485px;
    font-size: 20px;
    color: #313131;
    line-height: 30px;
}

.item_3 .cont_b .b_pic {
    float: right;
}

.item_3 .cont_b .online {
    border: none;
    background: #ac2925;
    padding: 18px 38px;
    border-radius: 20px;
    margin: 30px 0 0 170px;
}

.item_3 .cont_b .online a {
    color: #fff;
    font-size: 20px;
}

.item_4 {
    background: #eee;
    height: 900px;
}

.item_4 .cont h2 {
    text-align: center;
    font-size: 48px;
    color: #0000ff;
    padding-top: 60px;
}

.item_4 .cont .fl, .item_4 .cont .fr {
    width: 505px;
    text-align: center;
    padding: 15px 15px;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-top: 20px;
}

.item_4 .cont .fl h3, .item_4 .cont .fr h3 {
    font-size: 30px;
    height: 78px;
    line-height: 78px;
}

.item_4 .cont .fl p, .item_4 .cont .fr p {
    font-size: 20px;
    line-height: 30px;
}

.item_4 .cont .fr h3 {
    color: #0ba1e4;
}

.item_4 .cont img {
    margin-top: 30px;
}

.item_5 {
    padding-bottom: 50px;
}

.item_5 .cont h2 {
    text-align: center;
    color: #0000ff;
    font-size: 48px;
    height: 48px;
    line-height: 48px;
    margin-top: 60px;
}
/*动画没写;;;;;;;;;;;;;;;;*/
.item_5 .cont dl {
    float: left;
    margin-top: 25px;
    animation-delay: 0.2s;
}

.item_5 .cont dl dd h3 {
    padding-left: 30px;
    color: #0ba1e4;
    font-size: 28px;
    margin: 15px 0;
}

.item_5 .cont dl dd p {
    padding-left: 30px;
}

.item_7 {
    margin-bottom: 20px;
}

.container .item_title .title {
    height: 52px;
    line-height: 52px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px;
}

.container .item_title .title span {
    font-size: 26px;
    font-weight: bolder;
    display: inline-block;
    line-height: 51px;
    height: 51px;
    border-bottom: 3px #00b7ee solid;
}

.container .item_7 .item7_cont ul li {
    font-size: 14px;
    line-height: 30px;
    float: left;
}

.container .item_7 .item7_cont ul li a {
    display: block;
    width: 255px;
    height: 30px;
    padding-left: 14px;
    overflow: hidden;
    color: #444;
}

.container .item_7 .item7_cont ul li a:hover {
    color: #a11;
}