.banner {
    width: 100%;
    margin: 0;
    padding: 0
}

.banner img {
    width: 100% !important
}

.department {
    margin-top: 20px;
}

.department .nav_d {
    text-align: center;
    margin-left: 25px;
}

.department .nav_d li {
    float: left;
    width: 80px;
    margin: 0 35px;
    font-size: 16px;
}

.department .name_d {
    padding: 7px 0;
}

.news {
    width: 100%;
    height: 360px;
    margin-top: 30px;
    overflow: hidden;
}

.news .news_left {
    width: 330px;
    height: 360px;
    float: left;
}

.news .news_left .news_title, .news .news_mid .news_title, .news .news_right .news_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #d3d3d3 solid;
    font-size: 18px;
    color: #333;
    font-family: "微软雅黑";
    overflow: hidden;
}

.news .news_left .news_title .more, .news .news_mid .news_title .more {
    float: right;
    font-size: 14px;
    color: #6e6e6e;
}

.news .news_left .thumbs {
    margin: 12px 0 20px 0;
}

.news .news_left .news_menu li a {
    font-size: 14px;
    line-height: 25px;
}

.news .news_left .news_menu li a:hover {
    color: #a11;
}

.news .news_mid {
    width: 386px;
    height: 360px;
    float: left;
    margin-left: 30px;
    display: inline;
}

.news .news_mid .contBox {
    margin-top: 12px;
}

.news .news_mid .contBox .cont dl {
    position: relative;
    padding-left: 150px;
    overflow: hidden;
    margin: 14px 0;
}

.news .news_mid .contBox .cont dl dt {
    position: absolute;
    left: 0;
    top: 0;
}

.news .news_mid .contBox .cont dl dt img {
    width: 150px;
    height: 100px;
    float: left;
}

.news .news_mid .contBox .cont dl dd {
    float: right;
    margin-left: 5px;
}

.news .news_mid .contBox .cont dl dd h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

/*!* 3 times the line-height to show 3 lines *!*/
.news .news_mid .contBox .cont .cont_list {
    margin: 5px 0;
}

.cont .cont_list .list_left img {
    float: left;
    width: 150px;
    height: 100px;
}

.cont .cont_list .list_left p {
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    padding-right: 9px;
}

.cont .cont_list .list_left p:after {
    content: "...";
    font-weight: 700;
    position: absolute;
    bottom: 2px;
    right: -22px;
    padding: 0 21px 1px 29px;
}

.cont .cont_list .list_left h4 {
    padding-left: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #e24089;
    margin-bottom: 3px;
}

.news .news_right {
    float: left;
    width: 324px;
    height: 360px;
    margin-left: 30px;
    display: inline;
}

.news .news_right img {
    width: 324px;
}

.news .news_right .news_right_cont1 {
    margin-top: 12px;
}

.news .news_right .news_right_cont2 {
    margin-top: 5px;
}

.ad {
    margin: 40px 0;
}

.ad img {
    max-width: 1100px;
}

.mt .tab ul {
    height: 55px;
    background-color: #004986;
}

.mt .tab ul li {
    width: 160px;
    height: 55px;
    line-height: 55px;
    float: left;
    text-align: center;
    font-size: 18px;
}

.mt .tab ul li.ac {
    background-color: #00417f;
}

.mt .tab ul li a {
    color: #fff;
}

.mt .tab_menu {
    margin-top: 10px;
}

.mt .tab_menu .combine_cont .cont-left {
    float: left;
    width: 725px;
}

.combine_cont .cont-left .cont_list {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

.combine_cont .cont-left .cont_list a {
    margin: 0 3px
}

.combine_cont .cont-left .cont_list a:hover {
    color: #a11
}

.combine_cont .cont-left .cont_left_img {
    width: 315px;
    height: 190px;
    float: left;
    margin: 30px 0 0 0;
    display: inline
}

.combine_cont .cont-left .cont_left_txt {
    width: 385px;
    height: 190px;
    float: left;
    margin: 30px 0 0 25px;
    display: inline
}

.combine_cont .cont-left .cont_left_txt h3 {
    text-align: center;
    height: 22px;
    line-height: 22px
}

.combine_cont .cont-left .cont_left_txt h3 a:hover {
    color: #a11
}

.combine_cont .cont-left .cont_left_txt p {
    width: 385px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px
}

.combine_cont .cont-left .cont_left_txt .cont_left_news {
    width: 100%;
    height: 100px;
    margin-top: 18px
}

.combine_cont .cont-left .cont_left_txt .cont_left_news li {
    float: left;
    width: 185px;
    margin-left: 5px;
    line-height: 24px
}

.combine_cont .cont-left .cont_left_txt .cont_left_news li a {
    font-size: 12px;
    color: #6e6e6e;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 1
}

.combine_cont .cont-left .cont_left_txt .cont_left_news li a:hover {
    color: #a11
}

.combine_cont .cont-left .question {
    width: 100%;
    height: 129px;
    background-color: #eaeaea;
    margin-top: 20px;
    overflow: hidden
}

.combine_cont .cont-left .question .q_img {
    float: left;
    width: 110px;
    height: 129px
}

.combine_cont .cont-left .question .q_list {
    float: left;
    width: 195px
}

.combine_cont .cont-left .question .ml5 {
    margin-left: 8px
}

.combine_cont .cont-left .question .q_list li {
    font-size: 12px;
    line-height: 22px;
    margin-top: 15px
}

.combine_cont .cont-left .question .q_list li a:hover {
    color: #a11
}

.ques_color {
    color: #915f26
}

.mt .tab_menu .combine_cont .cont-right {
    float: right;
    width: 335px;
    height: 320px;
    border: 1px #eaeaea solid;
    padding: 10px;
    margin-top: 65px
}

.red {
    color: #a11
}

.environment .en_tab {
    height: 60px;
    line-height: 60px;
    border-bottom: 3px #ccc solid
}

.environment .en_tab ul li {
    float: left;
    cursor: pointer
}

.environment .en_tab ul li.active {
    color: #a11
}

.environment .en_tab_menu .en_cont {
    margin-top: 20px;
    height: 107px
}

.environment .en_tab_menu .en_pic {
    float: left;
    width: 130px;
    height: 127px;
    padding: 0;
    margin-top: 0;
    text-align: center
}

.environment .en_tab_menu .en_pic a {
    display: block;
    width: 132px;
    height: 80px
}

.environment .en_tab_menu .en_pic a img {
    margin-left: 5px
}

.jg_01 {
    background: url(http://img.wlkqzs.com/jg_01.jpg) no-repeat center center
}

.jg_01:hover {
    background: url(http://img.wlkqzs.com/jg_01_2.jpg) no-repeat center center
}

.jg_02 {
    background: url(http://img.wlkqzs.com/jg_02.jpg) no-repeat center center
}

.jg_02:hover {
    background: url(http://img.wlkqzs.com/jg_02_2.jpg) no-repeat center center
}

.jg_03 {
    background: url(http://img.wlkqzs.com/jg_03.jpg) no-repeat center center
}

.jg_03:hover {
    background: url(http://img.wlkqzs.com/jg_03_2.jpg) no-repeat center center
}

.jg_04 {
    background: url(http://img.wlkqzs.com/jg_04.jpg) no-repeat center center
}

.jg_04:hover {
    background: url(http://img.wlkqzs.com/jg_04_2.jpg) no-repeat center center
}

.jg_05 {
    background: url(http://img.wlkqzs.com/jg_05.jpg) no-repeat center center
}

.jg_05:hover {
    background: url(http://img.wlkqzs.com/jg_05_2.jpg) no-repeat center center
}

.jg_06 {
    background: url(http://img.wlkqzs.com/jg_06.jpg) no-repeat center center
}

.jg_06:hover {
    background: url(http://img.wlkqzs.com/jg_06_2.jpg) no-repeat center center
}

.jg_07 {
    background: url(http://img.wlkqzs.com/jg_07.jpg) no-repeat center center
}

.jg_07:hover {
    background: url(http://img.wlkqzs.com/jg_07_2.jpg) no-repeat center center
}

.jg_08 {
    background: url(http://img.wlkqzs.com/jg_08.jpg) no-repeat center center
}

.jg_08:hover {
    background: url(http://img.wlkqzs.com/jg_08_2.jpg) no-repeat center center
}

.link-index a {
    float: left;
    margin: 5px
}

.link-index a:hover {
    color: #a11
}

#slide_box {
    position: relative
}

#slide_box ul {
    width: 100%;
    height: 108px;
    position: relative;
    overflow: hidden
}

#slide_box ul li {
    float: left
}