.banner ul li:nth-child(1) {
    background: url(http://img.wlkqzs.com/comomn-banner_01.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(2) {
    background: url(http://img.wlkqzs.com/comomn-banner_02.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(3) {
    background: url(http://img.wlkqzs.com/comomn-banner_03.jpg) 50% no-repeat;
    height: 125px
}

.banner ul li:nth-child(4) {
    background: url(http://img.wlkqzs.com/comomn-banner_04.jpg) 50% no-repeat;
    height: 125px
}

.news_index {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px #ccc solid
}

.news_index p a:hover {
    color: #a11
}

.content .article, .content .news_list {
    width: 768px;
    float: left;
    border-right: 1px #ccc solid
}

.article .article_cont {
    padding-right: 15px
}

.article .article_cont p {
    line-height: 24px
}

.article .article_cont h2, .article .article_cont h3 {
    text-align: center
}

.article .article_cont h2 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 42px;
    border-bottom: 1px dashed #d2d1d1;
    color: #585757
}

.article .article_cont h3 {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 10px
}

.article .article_footer ul {
    text-align: center;
    overflow: hidden;
    margin: 30px 0;
    padding-left: 280px
}

.article .article_footer ul li {
    float: left;
    margin: 0 auto
}

.article .article_footer ul li a {
    display: inline-block;
    text-align: center;
    color: #f7ac00;
    font-size: 14px
}

.article .article_footer ul li.prev {
    margin-right: 60px
}

.article .article_footer ul li a {
    font-size: 14px
}

.article .article_footer ul li a:hover {
    color: #a11
}

.news_list .media {
    padding: 20px 5px 20px 0;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px #c1c1c1 solid;
    margin-right: 15px
}

.news_list .media-left {
    float: left;
    margin-right: 15px
}

.news_list .media-left a img {
    width: 130px;
    height: 100px;
    object-fit: cover
}

.news_list .media-left a img:hover {
    transform: scale(1.1)
}

.media-body .media-heading {
    color: #0ba1e4
}

.media-body .media-heading:hover {
    font-weight: bolder;
    color: #05a
}

.media-body .time {
    font-size: 13px;
    color: #919191;
    line-height: 25px
}

.media-body .cont {
    font-size: 12px;
    color: #919191;
    line-height: 20px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-line-clamp: 2
}

.media-body .author {
    font-size: 12px;
    color: #919191
}

.media-body .dynamic-li a {
    float: right;
    color: #a11;
    font-size: 12px;
    margin: 5px 15px 0 0
}

.media-body .dynamic-li a:hover {
    color: #f93
}

.navigation {
    box-sizing: border-box;
    height: 35px;
    margin: 10px 0 20px 0
}

.navigation ul li {
    float: left
}

.navigation ul li.active a {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff
}

.navigation ul li a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #fff;
    color: #337ab7;
    border: 1px #ddd solid
}

.navigation ul li:first-child a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.navigation ul li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.related .question, .related .related_article {
    width: 360px;
    height: 250px;
    float: left
}

.related .question {
    float: right
}

.related .question h3, .related .related_article h3 {
    line-height: 48px;
    background: #ccc;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px
}

.related .question h3 a, .related .related_article h3 a {
    width: 30px;
    height: 22px;
    line-height: 22px;
    background: #f8ab00;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 14px
}

.related .question p, .related .related_article p {
    display: block;
    font-size: 14px;
    color: #686868;
    line-height: 34px;
    height: 34px;
    border-bottom: 1px dashed #cbcbcb;
    padding-left: 10px
}

.related .question p a, .related .related_article p a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    -webkit-line-clamp: 1
}

.related p a:hover {
    color: #a11
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default
}