.banner ul li:nth-child(1) {
    background: url(http://img.wlkqzs.com/yj_01.jpg) 50% no-repeat;
    height: 129px
}

.banner ul li:nth-child(2) {
    background: url(http://img.wlkqzs.com/yj_02.jpg) 50% no-repeat;
    height: 128px
}

.banner ul li:nth-child(3) {
    background: url(http://img.wlkqzs.com/yj_03.jpg) 50% no-repeat;
    height: 128px
}

.banner ul li:nth-child(4) {
    background: url(http://img.wlkqzs.com/yj_04.jpg) 50% no-repeat;
    height: 128px
}

.container .item_title .title {
    position: relative;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px
}

.container .item_title .title span {
    font-size: 26px;
    font-weight: bolder;
    display: inline-block;
    line-height: 51px;
    height: 51px;
    border-bottom: 3px #00b7ee solid
}

.container .item_title .title a {
    position: absolute;
    color: #fff;
    width: 78px;
    height: 30px;
    right: 0;
    top: 50%;
    margin-top: -15px;
    font: 14px/30px "microsoft Yahei";
    text-align: center;
    background-color: #00a0e9;
    border-radius: 2px
}

.container .item_0 h1, .container .item_1 h1 {
    font: 30px "微软雅黑";
    color: #81b21b
}

.container .item_0 .item_0_cont ul li {
    float: left;
    margin-right: 50px;
    width: 236px;
    height: 450px;
    background: url(http://img.wlkqzs.com/wtbg.png) bottom
}

.container .item_0 .item_0_cont ul li:nth-last-child(1) {
    margin-right: 0
}

.container .item_0 .item_0_cont ul li p {
    font: 15px/22px '微软雅黑';
    color: #fff;
    width: 212px;
    display: block;
    margin: 10px auto 0
}

.container .item_0 .item_0_cont ul li p strong {
    position: relative;
    width: 116px;
    height: 39px;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    font: 18px '微软雅黑'
}

.container .item_0 .item_0_cont ul li p strong:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #fff;
    left: 30%;
    bottom: 0
}

.container .item_0 .item_0_footer {
    height: 208px;
    margin-top: 48px
}

.container .item_0 .item_0_footer .left {
    float: left
}

.container .item_0 .item_0_footer .right {
    float: left;
    width: 842px
}

.container .item_0 .item_0_footer .right p {
    font: 15px/24px '微软雅黑';
    color: #333;
    margin: 33px 0 16px 0
}

#p_tab ul li {
    float: left;
    width: 547px;
    height: 55px;
    text-align: center;
    background-color: #c6c6c6;
    color: #333;
    margin-right: 1px;
    position: relative;
    font: 20px/55px '微软雅黑';
    cursor: pointer
}

#p_tab ul li.active {
    background-color: #81b21b;
    color: #fff;
    position: relative
}

#p_tab ul li.active:after {
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-top-color: #81b21b;
    left: 47%;
    bottom: -22px
}

.container .item_1 .mt .p_tab_cont {
    margin-top: 50px
}

.item_1 .p_tab_cont .show_cont h3 {
    font: 20px/39px '微软雅黑';
    color: #666;
    width: 645px;
    height: 39px;
    display: block;
    border: 1px solid #666;
    text-align: center;
    margin-bottom: 29px
}

.item_1 .p_tab_cont .show_cont .thumbnail img {
    float: left
}

.item_1 .p_tab_cont .show_cont .desc .txt_left {
    float: left;
    font: 14px/20px '微软雅黑';
    color: #333;
    width: 448px;
    height: 106px;
    margin: 0 0 0 30px;
    background: #f5f9eb;
    padding: 34px 18px 10px 26px;
    position: relative
}

.item_1 .p_tab_cont .show_cont .desc span {
    position: absolute;
    width: 75px;
    height: 33px;
    line-height: 33px;
    background: #81b21b;
    top: -3px;
    left: -11px;
    transform: skewY(-16deg);
    text-align: center;
    color: #fff;
    font-weight: bolder
}

.item_1 .p_tab_cont .show_cont .desc .txt_right {
    float: right;
    font: 14px/20px "微软雅黑";
    color: #333;
    width: 266px;
    height: 88px;
    margin: 0 15px 0 0;
    background: #f5f9eb;
    padding: 42px 13px 19px 20px;
    position: relative
}

.item_1 .p_tab_cont .show_cont .desc .txt_bot {
    float: left;
    font: 14px/20px "微软雅黑";
    color: #333;
    width: 625px;
    height: 45px;
    margin: 45px 0 0 30px;
    background: #f5f9eb;
    padding: 27px 14px 10px 32px;
    position: relative
}

.item_1 .p_tab_cont .show_cont .best_time ul li {
    float: left;
    width: 512px;
    height: 136px;
    border: 1px solid #d3d3d3;
    margin: 20px 25px 0 0;
    padding: 10px 0 0 11px
}

.item_1 .p_tab_cont .show_cont .best_time ul li span {
    float: left;
    font: 14px '微软雅黑';
    color: #333;
    width: 266px;
    display: block;
    margin-left: 20px
}

.item_1 .p_tab_cont .show_cont .best_time ul li img {
    float: left
}

.item_1 .p_tab_cont .show_cont .lead {
    height: 91px;
    margin-top: 37px;
    background: #fdad30;
    padding: 13px 0 0 18px
}

.item_1 .p_tab_cont .show_cont .lead p {
    float: left;
    width: 875px;
    font: 14px/24px "微软雅黑";
    color: #fff;
    display: block
}

.item_1 .p_tab_cont .show_cont .lead a {
    display: block;
    float: right;
    width: 139px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    text-align: center;
    margin: 25px 25px 0 0;
    color: #fdad30;
    border-radius: 3px
}

.item_1 .p_tab_cont .show_cont .trust h4 {
    font: 30px/60px '微软雅黑';
    color: #81b21b
}

.item_1 .p_tab_cont .show_cont .trust .trust_cont img {
    float: left;
    margin-right: 25px
}

.item_1 .p_tab_cont .show_cont .trust .trust_cont p {
    float: left;
    width: 743px;
    display: block;
    font: 14px/24px "微软雅黑";
    color: #333;
    margin-top: 20px
}

.container .item_5 {
    margin: 25px 0 0 0
}

.container .item_5 .zj img {
    width: 1100px
}

.container .item_6 {
    margin-bottom: 35px
}

.container .item_6 .item6_cont ul li {
    font-size: 14px;
    line-height: 30px;
    float: left
}

.container .item_6 .item6_cont ul li a {
    display: block;
    width: 255px;
    height: 30px;
    padding-left: 14px;
    overflow: hidden;
    color: #444
}

.container .item_6 .item6_cont ul li a:hover {
    color: #a11
}