<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="牙齿修复,牙齿美容修复,牙齿美容贴面,牙齿美容修复美白">
    <meta name="description" content="牙齿美容修复贴面,嵌体,结合3D个性定制系统,设计实现完美脸型,让你拥有一口靓丽明星牙,美牙热线:020-38370866 0757-87779898">
    <title>牙齿修复_贴面修复_全瓷牙_嵌体_伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/beauty.css">
    <link rel="stylesheet" href="/static/css/slide.css">

</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--wrap start-->
<div class="wrap">
    <div class="inner">
        <div class="container">
            <div class="item_0">
                <h1>伟联口腔牙齿修复，重拾自信笑容</h1>
                <h2>Wei Lian dental prosthesis, regain confidence smile</h2>
                <p>微笑美学修复不仅仅是将牙齿按照统一标准进行设计，伟联口腔口腔经验丰富的牙齿修复科专家通过结合患者的年龄、
                    性别、肤色、 脸型等因素，运用牙齿美学修复进行个性化量身定制美齿方案，打造符合美学标准的亮白皓齿和迷人微笑。</p>
                <div class="item_0_left">
                    <img src="http://img.wlkqzs.com/beauty_1.jpg" class="lazy" alt="牙齿修复">
                </div>
                <div class="item_0_right">
                    <div class="p1">
                        <h3>牙齿形态及排列上的艺术表达</h3>
                    </div>
                    <div class="p2">
                        <h3>根据性别、<br>年龄以及心理的不同量身定制</h3>
                    </div>
                    <div class="p3">
                        <h3>充分考虑口腔咀嚼、交流等功能</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item_1">
                <div class="item_title">
                    <h2 class="title"><span>牙齿缺失、不够白？</span><a target="_blank"
                                                               href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a>
                    </h2>
                </div>
                <div class="pt">
                    <h3>因为牙齿不齐、色素牙、牙齿稀疏、牙齿缺损等问题，导致我们难以展露笑容，甚至经常遭遇旁人异样眼光的尴尬。
                        自卑、自闭、忧郁等消极心态如雾霾一般笼罩在生活的天空，让人喘不过气。</h3>
                    <div class="tab" id="tab">
                        <ul>
                            <li class="ac">地包天</li>
                            <li>龅牙</li>
                            <li>虎牙</li>
                            <li>烤瓷牙</li>
                            <li>四环素牙</li>
                            <li>牙齿缺损</li>
                            <li>牙齿不齐</li>
                            <li>牙列稀疏</li>
                            <li>氟斑牙</li>
                            <li>黄牙</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab_cont">
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_2.jpg" class="lazy" alt="地包天">
                                <p class="dd_title">地包天</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>地包天病因</h5>
                                <p>1、不良哺乳姿势;</p>
                                <p>2、有咬上唇或下颌前伸不良习惯，导致前牙反牙合及下颌前突;</p>
                                <p>3、乳前牙滞留或早失，上恒切牙先天性缺失;</p>
                                <p>4、乳尖牙磨耗不足等.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="地包天">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_3.jpg" class="lazy" alt="龅牙">
                                <p class="dd_title">龅牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>龅牙病因</h5>
                                <p>1、自然状态下双唇不能闭拢，微笑时牙龈外露过多;</p>
                                <p>2、有遗传的因素;</p>
                                <p>3、最重要的原因是随着人类进化，食物越来越精细，牙弓越来越小，牙列就会拥挤;</p>
                                <p>4、不良口腔习惯，如吮指，张口呼吸等，也可引起龅牙.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="龅牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_4.jpg" class="lazy" alt="虎牙">
                                <p class="dd_title">虎牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>虎牙病因</h5>
                                <p>1、“虎牙”是指唇侧错位的尖牙，它突出于牙弓之外;</p>
                                <p>2、不能随便拔除，因为上颌尖牙在口腔中起着其他牙无法代替的作用;</p>
                                <p>3、形成常常是由于乳牙早失，邻近恒牙萌出向空隙处移动，挤占了尖牙的位置</p>
                                <p>4、可以采取牙齿矫正</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="虎牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_5.jpg" class="lazy" alt="烤瓷牙">
                                <p class="dd_title">烤瓷牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>烤瓷牙</h5>
                                <p>1、烤瓷牙是恢复牙齿缺损及达到功能和美观要求的修复牙冠;</p>
                                <p>2、使用于牙齿缺损，牙齿排列不齐，牙齿异常色变，种植牙;</p>
                                <p>3、优点是改善牙齿形态和色泽;</p>
                                <p>4、缺点是磨除部分牙齿组织，对牙龈组织有一定的刺激，一定年限后可能需要重新修复.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="烤瓷牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_6.jpg" class="lazy" alt="四环素牙">
                                <p class="dd_title">四环素牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>四环素牙病因和治疗</h5>
                                <p>1、在牙的发育矿化期服用的四环素族药物，可被结合到牙组织内，使牙着色;</p>
                                <p>2、同一次服用的四环素族药物剂量，牙本质中的沉积比在釉质中高4倍;</p>
                                <p>3、用药时期越在婴幼儿早期用药</p>
                                <p>4、轻度和中度四环素牙可通过皓齿美白，重度可以使用美容冠技术</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="四环素牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_7.jpg" class="lazy" alt="牙齿缺损">
                                <p class="dd_title">牙齿缺损</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>牙齿缺损病因</h5>
                                <p>1、牙周病，牙周组织逐渐破坏、龈沟加深、形成牙周袋、牙槽骨吸收、牙松动、脱落;</p>
                                <p>2、颌骨的骨髓炎、肿瘤等也是造成牙列缺损的原因;</p>
                                <p>3、随着年龄的增长、牙龈、牙槽骨等牙周组织发生生理性退变、牙龈萎缩</p>
                                <p>4、较轻可以改变刷牙习惯做脱敏处理，中度要牙体修复，重度就要进行牙髓治疗</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="牙齿缺损">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_8.jpg" class="lazy" alt="牙齿不齐">
                                <p class="dd_title">牙齿不齐</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>牙齿不齐病因</h5>
                                <p>1、)乳牙早失：会出现间隙不足，产生拥挤错位</p>
                                <p>2、不良习惯：多数为吮指习惯、吐舌习惯、咬唇习惯、咬物习惯、偏侧咀嚼习惯等</p>
                                <p>3、先天性缺失牙：多为发育和胚胎原因，第三磨牙的缺失</p>
                                <p>4、可做隐形正畸治疗、正颌外科牙齿矫正、美容冠治疗</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="牙齿不齐">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_9.jpg" class="lazy" alt="牙齿稀疏">
                                <p class="dd_title">牙齿稀疏</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>牙齿稀疏病因</h5>
                                <p>1、不良习惯（如：舔牙、咬唇等）</p>
                                <p>2、牙周病所致的牙齿唇倾</p>
                                <p>3、先天性失牙，过小牙，以及遗传因素所致</p>
                                <p>4、可做超大超薄贴面（0.3mm），减少患者制备基牙</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="牙齿稀疏">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_10.jpg" class="lazy" alt="氟斑牙">
                                <p class="dd_title">氟斑牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>氟斑牙治疗</h5>
                                <p>1、斑釉牙，又称为氟斑牙，为饮水中氟元素浓度过高所致;</p>
                                <p>2、四环素牙，为儿童时期经常服用四环素所致;</p>
                                <p>3、吸烟，烟草中的黄色物质沾附于牙齿上所致,还有就是槟榔或颜色较深饮料和咖啡</p>
                                <p>4、超声波洗牙、冷光美白，皓齿美白，贴面技术可以治疗</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="氟斑牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont f_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_11.jpg" class="lazy" alt="黄牙">
                                <p class="dd_title">黄牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>黄牙病因治疗</h5>
                                <p>1、冷光美白 : 可改善牙黄，但会反复，需要隔几年做一次;</p>
                                <p>2、烤瓷冠或者全瓷冠:把牙磨小一圈，外面套个更白更美观牙冠;</p>
                                <p>3、瓷贴面:效果很好，磨牙少，副作用小;</p>
                                <p>4、微研磨后渗透树脂改善:磨牙较少</p>

                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="黄牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item_inner1 mt10">
                <div class="pro_1">
                    <img src="http://img.wlkqzs.com/beauty_12.jpg" class="lazy" alt="贴面">
                </div>
                <div class="pro_2"></div>
                <div class="pro_3">
                    <p>伟联E-MAX贴面采用全新高科技生物材料及3D数字化设计制作，应用独特工艺上色，形态完美、色泽自然逼真，
                        最薄可至0.2mm，硬度高达580Mpa，每一片贴面在形状、色泽上与患者的牙列、脸型完美匹配，整个过程无创、
                        零痛苦，美观大方，经久耐用，无需备牙，维护简易。</p>
                    <div class="zx">
                        <a href="javascript:;">E-MAX贴面多少钱？在线咨询</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item_4 mt30">
                <div class="item_title">
                    <h2 class="title"><span>全瓷贴面六部曲</span><a target="_blank"
                                                             href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a>
                    </h2>
                </div>
                <ul>
                    <li>
                        <h4><i class="p01"></i>医生会诊</h4>
                        <img src="http://img.wlkqzs.com/clmtm_13.jpg" class="lazy" alt="全瓷贴面">
                        <span>术前牙齿颜色灰黄黯淡，医生会诊，提供个性化。</span>
                    </li>
                    <li>
                        <h4><i class="p02"></i>光学取模</h4>
                        <img src="http://img.wlkqzs.com/clmtm_14.jpg" class="lazy" alt="全瓷贴面">
                        <span>医生3Shape TRIOS™技术数字化光学取模，量齿定制。</span>
                    </li>
                    <li>
                        <h4><i class="p03"></i>对比明度</h4>
                        <img src="http://img.wlkqzs.com/clmtm_15.jpg" class="lazy" alt="全瓷贴面">
                        <span>采用德国VITA比色技术，准确对比牙齿明度和色泽。</span>
                    </li>
                    <li>
                        <h4><i class="p04"></i>牙体预备</h4>
                        <img src="http://img.wlkqzs.com/clmtm_16.jpg" class="lazy" alt="全瓷贴面">
                        <span>牙体预备，严格按照黄金比例并结合个人笑容效果。</span>
                    </li>
                    <li>
                        <h4><i class="p05"></i>贴面粘连</h4>
                        <img src="http://img.wlkqzs.com/clmtm_17.jpg" class="lazy" alt="全瓷贴面">
                        <span>采用一套专业的粘接系统，进行瓷立美贴面粘接。</span>
                    </li>
                    <li>
                        <h4><i class="p06"></i>恢复牙色</h4>
                        <img src="http://img.wlkqzs.com/clmtm_18.jpg" class="lazy" alt="全瓷贴面">
                        <span>修复后的牙齿色泽自然、逼真、整洁，牙色提升7个色阶。</span>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="item_inner1 mt30">
                <div class="pro_1">
                    <img src="http://img.wlkqzs.com/beauty_13.jpg" class="lazy" style="width: 520px;height: 450px;"
                         alt="冷光美白">
                </div>
                <div class="pro_2"></div>
                <div class="pro_3">
                    <p>冷光美白是将波长介于480-520nm之间的高强度蓝光，经由光纤传导，通过两片30多层镀膜的特殊光学镜片，再经过特殊
                        光学处理，隔除一切有害的紫外线和红外线，将过氧化氢和直径为20纳米的二氧化硅等为主体的美白剂，快速
                        产生氧化还远作用。透过牙小管，去除牙齿表面及深层附着的色素，从而达到美白牙齿的效果。</p>
                    <div class="zx">
                        <a href="javascript:;">冷光美白多少钱？在线咨询</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item_4 mt30">
                <div class="item_title">
                    <h2 class="title"><span>冷光美白操作步骤</span><a target="_blank"
                                                              href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a>
                    </h2>
                </div>
                <ul>
                    <li>
                        <!--<h4><i class="p01"></i>口腔检查</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_04.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">口腔检查</span>
                    </li>
                    <li>
                        <!--<h4><i class="p02"></i>牙齿抛光</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_05.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">牙齿抛光</span>
                    </li>
                    <li>
                        <!--<h4><i class="p03"></i>涂抹护唇油</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_06.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">涂抹护唇油</span>
                    </li>
                    <li>
                        <!--<h4><i class="p04"></i>洗掉美白剂</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_07.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">美牙后洗掉美白剂</span>
                    </li>
                    <li>
                        <!--<h4><i class="p05"></i>涂抹美白剂</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_08.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">涂抹炫彩美白剂</span>
                    </li>
                    <li>
                        <!--<h4><i class="p06"></i>护龈</h4>-->
                        <img src="http://img.wlkqzs.com/xcmb_09.jpg" class="lazy" alt="冷光美白">
                        <span class="tc">护龈</span>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="item_2">
                <div class="item_title">
                    <h2 class="title"><span>伟联全瓷牙修复技术</span><a target="_blank"
                                                               href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a>
                    </h2>
                </div>
                <div class="mt">
                    <h3>穗华口腔医院牙全瓷牙修复方式，引进国外进口牙齿矫正材料，通过先进的纳米技术，进行精确的设计，能够精准全方位移动畸形牙齿，将畸形牙悄然无声中归位。</h3>
                    <div class="b_tab" id="b_tab">
                        <ul>
                            <li class="active"> 美国3M LAVA全瓷牙</li>
                            <li>德国威兰德全瓷牙</li>
                            <li>德国泽康全瓷牙</li>
                            <li>瑞士E-max全瓷牙</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab_cont">
                        <div class="show_cont s_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_14.jpg" class="lazy" alt="全瓷牙">
                                <p class="dd_title">美国3M LAVA全瓷牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>美国3M LAVA全瓷牙</h5>
                                <p>1、Lava是世界上惟一拥有身份代码，保证质量;</p>
                                <p>2、专利内冠染色技术，8种不同颜色的内冠;</p>
                                <p>3、全瓷的边缘密合度高，可达到100%;</p>
                                <p>4、自然美观：透光性极佳， 26阶牙色层次化类比，调配最适合牙色.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="全瓷牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont s_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_15.jpg" class="lazy" alt="威兰德">
                                <p class="dd_title">德国威兰德全瓷牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>德国威兰德全瓷牙</h5>
                                <p>1、即刻修复：椅旁数字化美学修复，仅需1个小时即可为患者恢复满意牙齿</p>
                                <p>2、坚固耐磨：使用的氧化锆是人造钻石（锆石）的主要成分，强度可达1400兆帕以上</p>
                                <p>3、自然美观：可以调配出16色的修复体，为你调配最适合牙色</p>
                                <p>4、量身定制：根据口腔条件、脸型、肤色，精确设计最合适修复方案.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="全瓷牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont s_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_16.jpg" class="lazy" alt="全瓷牙">
                                <p class="dd_title">德国泽康全瓷牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>德国泽康全瓷牙</h5>
                                <p>1、美观度：如同真牙般的透光度、色泽、形态和荧光效果</p>
                                <p>2、安全性：极高的生物相容性，几乎不会发生过敏反应;</p>
                                <p>3、耐用性：持久耐用、能经受高强度的咬合力、防止折裂</p>
                                <p>4、品质感：全德国进口，采用电脑辅助设计和制作系统</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="全瓷牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont s_show">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/beauty_17.jpg" class="lazy" alt="全瓷牙">
                                <p class="dd_title">瑞士E-max全瓷牙</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>瑞士E-max全瓷牙</h5>
                                <p>1、美观性：美轮美奂的色泽和卓越的外观，牙齿更天然</p>
                                <p>2、坚固耐磨：强度可达580Mpa；铸瓷牙抗折力为420MPA</p>
                                <p>3、透光性好：辅于可选色系的粘接系统，改良临床比色差异度</p>
                                <p>4、可做超大超薄贴面（0.3mm），减少患者制备基牙</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/beauty_18.jpg" class="lazy" alt="全瓷牙">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_5 clearfix">
                <div class="item_title">
                    <h2 class="title"><span>伟联口腔专家团队</span><a href="javascript:;">在线咨询</a></h2>
                </div>
                <!--our-teams start-->
                <section class="our_teams">
                    <div class="inner">
                        <%include('./common/doctor_teams')%>
                    </div>
                </section>
                <!--our-teams end-->
            </div>
            <div class="item_6">
                <div class="item_title">
                    <h2 class="title"><span>牙齿修复相关知识</span><a href="javascript:;">在线咨询</a></h2>
                </div>
                <div class="item6_cont">
                    <ul>
                        <% if ($data.articleCount >0) {%>
                        <% for(var i = 0,len = $data.articleRows.length; i < len; i++){%>
                        <% var article = $data.articleRows[i]%>
                        <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                        <% }%>
                        <% }%>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--wrap end-->

<%include('./common/footer')%>
<!--footer end-->
<script>
    $(function () {
        $('.f_show').eq(0).stop().fadeIn().siblings().hide();
        $('#tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('ac').siblings().removeClass('ac');
            var index1 = $(this).index();
            $('.f_show').eq(index1).stop().fadeIn().siblings().hide();
        });

        $('.s_show').eq(0).stop().fadeIn().siblings().hide();
        $('#b_tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $('.s_show').eq(index).stop().fadeIn().siblings().hide();
        });


        $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
        $('.ck-slide').ckSlide({
            autoPlay: true
        });

    });
</script>
</body>
</html>