<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="牙齿矫正,隐形矫正,正畸图片,广州哪里矫正,牙齿矫正最佳年龄">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>牙齿矫正_隐形矫正_广州矫正价格_伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/braces.css">
    <link rel="stylesheet"  href="/static/css/slide.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--wrap start-->
<div class="wrap">
    <div class="inner">
        <div class="container">
            <div class="item_1">
                <div class="item_title">
                    <h2 class="title"><span>牙齿不齐的危害</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/a1.jpg" class="lazy" alt="牙齿正畸">
                        <h5>影响整体美观</h5>
                        <p>牙齿畸形影响颜面美观是最直观的，如地包天、开唇露齿、 牙缝过大等都会使人的整体形象大打折扣。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/a2.jpg" class="lazy" alt="牙齿正畸">
                        <h5>影响口腔功能</h5>
                        <p>有些牙齿畸形可能影响口腔功能，如前牙开合发音不清、锁 牙合病人咀嚼降低、深覆牙合会使面部肌肉易疲劳。。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/a3.jpg" class="lazy" alt="牙齿正畸">
                        <h5>影响全身健康</h5>
                        <p>牙齿畸形，咀嚼功能降低，且不利于口腔清洁，易引起肠胃疾病和口腔疾患，甚至诱发系统性疾病。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/a4.jpg" class="lazy" alt="牙齿正畸">
                        <h5>危害心理健康</h5>
                        <p>有些少年儿童因为牙齿畸形，对生活、学习以及社交等造成一定的影响，严重影响心理健康。</p>
                    </li>
                </ul>
            </div>
            <div class="item_2">
                <div class="item_title">
                    <h2 class="title"><span>伟联牙齿正畸技术</span><a href="javascript:;" class="qiao_chat">在线咨询</a></h2>
                </div>
                <div class="mt">
                    <h3>伟联口腔医院牙齿正畸技术，引进国外进口牙齿矫正材料，通过先进的纳米技术，进行精确的设计，能够精准全方位移动畸形牙齿，将畸形牙悄然无声中归位。</h3>
                    <div class="b_tab" id="b_tab">
                        <ul>
                            <li class="active">陶瓷托槽矫正技术</li>
                            <li>隐适美矫正技术</li>
                            <li>时代天使矫正技术</li>
                            <li>金属托槽矫正技术</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="b_tab_cont">
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/taocituocao.jpg" class="lazy" alt="陶瓷托槽矫正">
                                <p class="dd_title">陶瓷托槽矫正技术</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>陶瓷托槽矫正技术</h5>
                                <p>1、透明度更高，托槽更隐形化;</p>
                                <p>2、内衬金属槽沟，强固托槽，并有助于钢丝自由滑动，进步治疗效果;</p>
                                <p>3、格外设计的边沿斜面及翼展，使佩带更舒适，牵引更便利;</p>
                                <p>4、底部中心设应力集中沟，使托槽拆卸便利轻易.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/braces_5.jpg" class="lazy" alt="牙齿正畸">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/yinshimei.jpg" class="lazy" alt="隐适美矫正">
                                <p class="dd_title">隐适美矫正技术</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>Invisalign隐适美隐形矫正</h5>
                                <p>1、美观：几乎完全隐形，毫无察觉之中完成牙齿矫正;</p>
                                <p>2、舒适：没有传统的托槽、钢丝等矫正装置，矫正过程更舒适;</p>
                                <p>3、方便：可自行摘戴，不影响生活。复诊次数减少，节约时间;</p>
                                <p>4、清洁：口腔卫生容易维护，不必担心牙龈炎、牙齿脱矿、变色等问题.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/kqzj08.jpg" class="lazy" alt="牙齿正畸">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/shidaitianshi.jpg" class="lazy" alt="时代天使隐形">
                                <p class="dd_title">时代天使矫正技术</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>时代天使矫正技术</h5>
                                <p>1、没有金属牙箍所造成的口腔磨损及不适，佩戴更舒服;/p>
                                <p>2、计算机三维诊断软件模拟牙齿移动及矫正效果;</p>
                                <p>3、外表近乎透明，厚度更小于 1mm，几乎隐形;</p>
                                <p>4、特别场合或进食时可自行摘下，更好维护口腔卫生.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/braces_7.jpg" class="lazy" alt="牙齿正畸">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/gangsituocao.jpg" class="lazy" alt="金属托槽矫正">
                                <p class="dd_title">金属托槽矫正技术</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>金属托槽矫正技术</h5>
                                <p>1、构造精细：优质矫正材料，槽沟精准，表面光滑，体积小巧</p>
                                <p>2、定位精准：专业医师量身定制个性化矫治方案，歪牙精准矫正</p>
                                <p>3、价格实惠：技术发展成熟，价格相对便宜</p>
                                <p>2、降低拔牙率: 独有的持续微强力系统，有效扩展空间，减少拔牙几率.</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/braces_5.jpg" class="lazy" alt="牙齿正畸">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_3">
                <div class="item_title">
                    <h2 class="title"><span>牙齿矫正过程</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/braces_13.jpg" class="lazy" class="lazy" alt="牙齿矫正">
                        <p>采用国际诊疗标准，通过CT诊疗，集全景、头颅、CNCT功能于一体，精确定位头颅数据采集，提供高清晰度3D诊断图片，呈现最美的口腔弧度。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/braces_14.jpg" class="lazy" alt="牙齿矫正">
                        <p>一次3D扫描即可获取全部原始记录，在制定正畸治疗计划的过程中创建全景片图像、头颅侧位片图像等所需影像，精确确定阻生和埋伏牙的位置。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/braces_15.jpg" class="lazy" alt="牙齿矫正">
                        <p>口腔CT测量的牙齿、牙槽骨数据可通过计算机导入到系统进行分析，精确算出每一颗牙齿上进行牙齿矫正所需的生物拉力，评估最终效果。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/braces_16.jpg" class="lazy" alt="牙齿矫正">
                        <p>通过软件将有可利用的三维影像快速简单地转化为虚拟研究模型，专家通过患者的具体情况、模型等方面制定牙齿正畸方案。</p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="item_4">
                <div class="item_title">
                    <h2 class="title"><span>牙齿正畸技术优势</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <h4><i class="p01"></i>精准定位</h4>
                        <img src="http://img.wlkqzs.com/kqzj01.jpg" class="lazy" alt="牙齿矫正">
                        <span>全数字化精准测量脸部轮廓数据，矫正过程更加精确、科学、高效</span>
                    </li>
                    <li>
                        <h4><i class="p02"></i>隐形美观</h4>
                        <img src="http://img.wlkqzs.com/kqzj02.jpg" class="lazy" alt="牙齿矫正">
                        <span>矫治器质地透明，旁人难以察觉，在社交场合也能自信微笑</span>
                    </li>
                    <li>
                        <h4><i class="p03"></i>舒适自然</h4>
                        <img src="http://img.wlkqzs.com/kqzj03.jpg" class="lazy" alt="牙齿矫正">
                        <span>矫治器力学设计，外形光滑，无异物感和粘膜刺激，矫正过程轻松舒适</span>
                    </li>
                    <li>
                        <h4><i class="p04"></i>私人订制</h4>
                        <img src="http://img.wlkqzs.com/kqzj04.jpg" class="lazy" alt="牙齿矫正">
                        <span>专家一对一方案设计，量齿定制个性化矫治器</span>
                    </li>
                    <li>
                        <h4><i class="p05"></i>疗效预测</h4>
                        <img src="http://img.wlkqzs.com/kqzj05.jpg" class="lazy" alt="牙齿矫正">
                        <span>针对每个患者的3D仿真矫治过程效果预测，达到最佳矫治效果</span>
                    </li>
                    <li>
                        <h4><i class="p06"></i>完美脸型</h4>
                        <img src="http://img.wlkqzs.com/kqzj06.jpg" class="lazy" alt="牙齿矫正">
                        <span>在科学健康的前提下，实现牙齿矫正与面部美学塑形完美结合</span>
                    </li>
                </ul>
                <div class="clearfix">

                </div>
            </div>
            <div class="item_5">
                <div class="item_title">
                    <h2 class="title"><span>伟联专家团队</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <!--our-teams start-->
                <section class="our_teams">
                    <div class="inner">
                        <%include('./common/doctor_teams')%>
                    </div>
                </section>
                <!--our-teams end-->
            </div>
            <div class="item_6">
                <div class="item_title">
                    <h2 class="title"><span>牙齿矫正相关知识</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="item6_cont">
                    <ul>
                        <% if ($data.articleCount >0) {%>
                            <% for(var i = 0,len = $data.articleRows.length; i < len; i++){%>
                                <% var article = $data.articleRows[i]%>
                                <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                            <% }%>
                        <% }%>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--wrap end-->
<%include('./common/footer')%>

<script>
    $(function () {
        $('.show_cont').eq(0).stop().fadeIn().siblings().hide();
        $('#b_tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $('.show_cont').eq(index).stop().fadeIn().siblings().hide();
        });

        $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
        $('.ck-slide').ckSlide({
            autoPlay: true
        });
    });
</script>
</body>
</html>