<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/contact-us.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--wrap start-->
<div class="container">
    <div class="inner">
        <div class="come">
            <h3>来院路线 /Come to the hospital line</h3>
            <div class="tab" id="tab">
                <ul>
                    <li class="active">广州地区诊所地址</li>
                    <li>佛山地区诊所地址</li>
                </ul>
            </div>
            <div class="tab_cont" id="tab_cont">
                <div class="show_cont">
                    <div class="cont_left">
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_04.jpg" class="lazy" alt="联系我们">具体地址：广州市天河区岗顶龙口西路216号</p>
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_10.jpg" class="lazy" alt="联系我们">联系电话：020-38370866</p>
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_12.jpg" class="lazy" alt="联系我们">就诊时间：8:30 - 21:00</p>
                        <p>
                            <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="zx">在线咨询</a>
                            <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="gh">预约挂号</a>
                        </p>
                        <p class="bg_title">地铁线路</p>
                        <p class="fs">3号线岗顶站A出口往人流方向走</p>
                        <p class="bg_title">公交线路:岗顶BRT站</p>
                        <p class="fs">B1 B4 B5 B6 B10 B21 B16 B25 B13 B20</p>
                    </div>
                    <div class="cont_right">
                        <iframe width="504" height="510" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/V5h7O"></iframe>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="show_cont">
                    <div class="cont_left">
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_04.jpg" class="lazy" alt="联系我们">具体地址：佛山三水区西南街道文锋东路14号</p>
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_10.jpg" class="lazy" alt="联系我们">联系电话：0757 - 87779898</p>
                        <p class="before"><img src="http://img.wlkqzs.com/lylx_12.jpg" class="lazy" alt="联系我们">就诊时间：8:30 - 21:00</p>
                        <p>
                            <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="zx">在线咨询</a>
                            <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="gh">预约挂号</a>
                        </p>
                        <p class="bg_title">地铁线路</p>
                        <p class="fs"></p>
                        <p class="bg_title">公交线路:文化公园站</p>
                        <p class="fs">文化公园(601路; 606路; 608路; 611路; 612路; 612路班车; 612路长线; 619路; 638路; 668路; 668路班车; 680路; 681路; k651路)</p>
                    </div>
                    <div class="cont_right">
                        <iframe width="504" height="510" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/4eh7O"></iframe>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="making">
            <h3>就医指南/ About the department</h3>
            <h4>咨询预约</h4>
            <div class="making_show">
                <p class="t1"></p>
                <p class="b1">
                    <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">预约挂号</a>
                </p>
            </div>
        </div>

    </div>
</div>
<!--wrap end-->

<%include('./common/footer')%>

<script>
    $(function () {
        $('.show_cont').eq(0).stop().fadeIn().siblings().hide();
        $('#tab >ul').find('li').on('mouseover',function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index  = $(this).index();
            $('.show_cont').eq(index).stop().fadeIn().siblings().hide();
        });
    });
</script>
</body>
</html>