<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="牙科医生,口腔医生,<%= $data.name%>">
    <meta name="description" content="伟联口腔拥有国内一流的牙科技术专业服务团队，门诊医师均拥有8年以上工作经验,为爱牙群众提供免费在线咨询,健康热线:020-38370866 0757-87779898">
    <title><%= $data.name%>-伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/doctor.css">
    <link rel="stylesheet"  href="/static/css/aside.css">
    <link rel="stylesheet"  href="/static/css/animate.css">


</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->
<!--wrap start-->
<div class="container">
    <div class="inner">
        <div class="news_index">
            <p>当前位置: <a href="/">伟联口腔诊所 ></a> <a href="/contact_us">关于伟联 ></a> <a
                    href="/doctor">医生团队</a></p>
        </div>
        <div class="content">
            <div class="doctor_detail animated fadeInLeft">
                <h2 class="name"><%= $data.name%></h2>
                <p class="time">浏览时间:<%= $data.updatedAt%> 来源:<span class="from">伟联口腔</span> <span class="click_num">点击量:<%= $data.sort%></span> </p>
                <p class="img"><img src="<%= $data.thumbnail%>" alt="<%= $data.name%>"></p>
                <h3>擅长领域:</h3>
                <p class="skilled2"><%= $data.skilled%></p>
                <h4>职务:</h4>
                <p class="duty2"><%= $data.duty%></p>
                <h5>简介:</h5>
                <p class="desc"><%= $data.brief%></p>
                <div class="back">
                    <a href="javascript:window.history.back();" class="btn-back animated">返回</a>
                </div>
            </div>
            <aside class="aside">
                <div class="aside_4">
                    <div class="title">
                        <h2><span>推荐资讯</span></h2>
                    </div>
                    <ul>
                        <% for(var i = 0,len = $data.articleList.length; i < len; i++){%>
                            <% var article = $data.articleList[i]%>
                        <li><a href="/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                        <% }%>
                    </ul>
                </div>
            </aside>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--wrap end-->


<!--clan_slider start-->
<div class="clan_slider">
    <ul>
        <li>
            <a href="javascript:;" class="qiao_chat">
                <img src="http://img.wlkqzs.com/open_qiao.jpg" alt="右侧导航">
            </a>
        </li>
        <li >
            <a href="#f_chat" class="web_chat">
                <img src="http://img.wlkqzs.com/open_what.jpg" alt="右侧导航">
            </a>

        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3177645255&site=qq&menu=yes">
                <img src="http://img.wlkqzs.com/open_qq.jpg" alt="右侧导航">
            </a>
        </li>
        <li>
            <a href="https://www.nuomi.com/deal/i00vbjk7f.html" target="_blank">
                <img src="http://img.wlkqzs.com/open_nuomi.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://img.wlkqzs.com/go_top.jpg"  class="go_top" alt="">
            </a>
        </li>
    </ul>
</div>
<!--clan_slider end-->

<!--footer start-->
<footer class="footer">
    <div class="inner">
        <div class="footer_left">
            <img src="http://img.wlkqzs.com/footer_logo.png" alt="伟联口腔">
        </div>
        <div class="footer_mid">
            <p>广州地区诊所:天河区龙口西路216号</p>
            <p>佛山地区诊所:三水区西南街道文锋东路14号</p>
            <p>门诊时间：8：30-21：00（节假日不休）</p>

            <p class="beian">备案号:粤ICP备17132073号-1</p>
            <p>版权:广州薇笑科技有限公司</p>
            <p>本网站信息仅供参考，不能作为诊疗及医疗依据；部分图片来源于网络，如有侵权，可发送邮件联系删除。</p>
        </div>
        <div class="footer_right">
            <p>扫描最新优惠 | 手机随时查询 | 口腔实时资讯</p>
            <div class="code_1">
                <a href="javascript:;" name="f_chat"><img src="http://img.wlkqzs.com/myyayi.jpg" alt=""></a>
            </div>
            <div class="code_2">
                <a href="javascript:;"><img src="http://img.wlkqzs.com/wlkq_qt.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="/static/js/jquery1.42.min.js"></script>
<script src="/static/js/stran.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.source.js"></script>
<script>
    $(function () {
        var sort =<%= $data.sort%>;
        var id =<%= $data.id%>;

        window.onbeforeunload = function () {
            $.post('/api/doctor/sort', {id: id, sort: sort}).then(function (res) {
                var def = $.Deferred();
                return res.code == 200 ? def.resolve() : def.reject(res.msg);
            }).done(function (msg) {
                console.log(msg);
            }).fail(function (msg) {
                console.log(typeof msg === 'string' ? msg : '服务器出现错误,请重试');
            });
        }
    });

    jQuery(".picScroll-top").slide({
        mainCell: ".bd ul",
        autoPage: true,
        effect: "top",
        autoPlay: true,
        vis: 2,
        delayTime: 1000
    });
    jQuery(".slideBox").slide({mainCell: ".bd ul", autoPlay: true, delayTime: 1000});

    $(function () {
        //在线咨询点击事件
        $('.qiao_chat').click(function(){
            var chatUrl = "http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%22-1%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2211503032%22%2C%22userId%22%3A%2224835519%22%2C%22pageId%22%3A0%7D";
            var iName = "在线咨询";
            var iWidth = 720;
            var iHeight = 600;
            //获得窗口的垂直位置
            var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
            //获得窗口的水平位置
            var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
            window.open(chatUrl, iName, 'height=' + iHeight + ',width=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
        });
    });
</script>
</body>
</html>