<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="牙科医生,口腔医生,牙科医师,口腔医师,牙科专家,口腔专家">
    <meta name="description" content="伟联口腔拥有国内一流的牙科技术专业服务团队，门诊医师均拥有8年以上工作经验,为爱牙群众提供免费在线咨询,健康热线:020-38370866 0757-87779898">
    <title>伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/doctor.css">
    <link rel="stylesheet"  href="/static/css/aside.css">

</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->
<!--wrap start-->
<div class="container">
    <div class="inner">
        <div class="news_index">
            <p>当前位置: <a href="javascript:;">伟联口腔诊所 ></a> <a href="javascript:;">关于伟联 ></a> <a
                    href="javascript:;">医生团队</a></p>
        </div>
        <div class="content">
            <div class="doctor_list">
                <% for(var i = 0,len = $data.doctorResultRows.length;i < len;i++){%>
                    <% var doctor = $data.doctorResultRows[i]%>
                <div class="media our-teams-item">
                    <div class="media-left">
                        <a href="/doctor_detail?id=<%= doctor.id%>" class="thumbnail">
                            <img class="media-object" src="<%= doctor.thumbnail%>" alt="<%= doctor.name%>">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/doctor_detail?id=<%= doctor.id%>">
                            <h4 class="media-heading"><%= doctor.name%></h4>
                        </a>
                        <div class="dynamic-li"><span class="duty"><%= doctor.type%></span></div>
                        <div class="dynamic-li"><p class="skilled"><span>擅长:</span><%= doctor.skilled%></p></div>
                        <p class="cont"><%= doctor.brief%></p>
                        <div class="dynamic-li">
                            <a href="/doctor_detail?id=<%= doctor.id%>">[详细]</a>
                        </div>
                    </div>
                </div>
                <% }%>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <%- $imports.pagination($data.page, $data.resultCount, $data.size, '/doctor') %>
                    </ul>
                </nav>
            </div>
            <aside class="aside">

                <div class="aside_2">
                    <div class="title">
                        <h2><span>权威专家</span></h2>
                    </div>
                    <div class="picScroll-top">
                        <!--<div class="hd">-->
                        <!--<a class="next"></a>-->
                        <!--<ul><li class="on">1</li><li class="">2</li><li class="">3</li><li class="">4</li></ul>-->
                        <!--<a class="prev"></a>-->
                        <!--<span class="pageState"><span>1</span>/4</span>-->
                        <!--</div>-->
                        <div class="bd">
                            <div class="tempWrap clearfix" style="overflow:hidden; position:relative; height:250px">
                                <ul class="picList"
                                    style="position: relative; padding: 0; margin: 0;overflow: hidden">
                                    <li>
                                        <div class="d_img">
                                            <a href="javascript:;"><img src="http://img.wlkqzs.com/hsw_doctor.png" class="lazy"
                                                                        alt="医生团队"></a>
                                        </div>
                                        <div class="d_txt">
                                            <h3>黄淑微</h3>
                                            <p>国内知名口腔修复专家</p>
                                            <p>广州伟联门诊部主任 <br> 中华口腔医学会会员..</p>
                                            <a href="javascript:;" class="qiao_chat">在线咨询</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="d_img">
                                            <a href="javascript:;"><img src="http://img.wlkqzs.com/yxm_doctor.png"
                                                                        alt="医生团队"></a>
                                        </div>
                                        <div class="d_txt">
                                            <h3>杨秀敏</h3>
                                            <p>国内知名口腔修复专家</p>
                                            <p>伟联口腔主治医师 <br> 中华口腔医学会会员..</p>
                                            <a href="javascript:;" class="qiao_chat">在线咨询</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="d_img">
                                            <a href="javascript:;"><img src="http://img.wlkqzs.com/wei_doctor.png"
                                                                        alt="医生团队"></a>
                                        </div>
                                        <div class="d_txt">
                                            <h3>魏锦标</h3>
                                            <p>国内知名口腔修复专家</p>
                                            <p>伟联口腔主治医师 <br> 中华口腔医学会会员..</p>
                                            <a href="javascript:;" class="qiao_chat">在线咨询</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <div class="d_img">
                                            <a href="javascript:;"><img src="http://img.wlkqzs.com/yh_doctor.png"
                                                                        alt="医生团队"></a>
                                        </div>
                                        <div class="d_txt">
                                            <h3>杨恒</h3>
                                            <p>国内知名口腔修复专家</p>
                                            <p>伟联口腔主治医师 <br> 中华口腔医学会会员..</p>
                                            <a href="javascript:;" class="qiao_chat">在线咨询</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="aside_3">
                    <div class="title">
                        <h2><span>热门活动</span></h2>
                    </div>
                    <div id="slideBox" class="slideBox">
                        <div class="hd">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_1.jpg"/></a>
                                </li>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_2.jpg"/></a>
                                </li>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_3.jpg"/></a>
                                </li>
                            </ul>
                        </div>

                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>

                    </div>
                </div>
                <div class="aside_4">
                    <div class="title">
                        <h2><span>推荐资讯</span></h2>
                    </div>
                    <ul>
                        <% for (var i = 0,len = $data.articleList.length; i< len; i++) { %>
                        <% var article = $data.articleList[i]%>
                        <li><a href="/news_detail?id=<%= article.id %>">• <%= article.title%></a></li>
                        <%}%>
                    </ul>
                </div>
            </aside>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--wrap end-->


<!--clan_slider start-->
<div class="clan_slider">
    <ul>
        <li>
            <a href="javascript:;" class="qiao_chat">
                <img src="http://img.wlkqzs.com/open_qiao.jpg" alt="右侧导航">
            </a>
        </li>
        <li >
            <a href="#f_chat" class="web_chat">
                <img src="http://img.wlkqzs.com/open_what.jpg" alt="右侧导航">
            </a>

        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3177645255&site=qq&menu=yes">
                <img src="http://img.wlkqzs.com/open_qq.jpg" alt="右侧导航">
            </a>
        </li>
        <li>
            <a href="https://www.nuomi.com/deal/i00vbjk7f.html" target="_blank" >
                <img src="http://img.wlkqzs.com/open_nuomi.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://img.wlkqzs.com/go_top.jpg"  class="go_top" alt="">
            </a>
        </li>
    </ul>
</div>
<!--clan_slider end-->

<!--footer start-->
<footer class="footer">
    <div class="inner">
        <div class="footer_left">
            <img src="http://img.wlkqzs.com/footer_logo.png" alt="伟联口腔">
        </div>
        <div class="footer_mid">
            <p>广州地区诊所:天河区龙口西路216号</p>
            <p>佛山地区诊所:三水区西南街道文锋东路14号</p>
            <p>门诊时间：8：30-21：00（节假日不休）</p>

            <p class="beian">备案号:粤ICP备17132073号-1</p>
            <p>版权:广州薇笑科技有限公司</p>
            <p>本网站信息仅供参考，不能作为诊疗及医疗依据；部分图片来源于网络，如有侵权，可发送邮件联系删除。</p>
        </div>
        <div class="footer_right">
            <p>扫描最新优惠 | 手机随时查询 | 口腔实时资讯</p>
            <div class="code_1">
                <a href="javascript:;" name="f_chat"><img src="http://img.wlkqzs.com/myyayi.jpg" alt=""></a>
            </div>
            <div class="code_2">
                <a href="javascript:;"><img src="http://img.wlkqzs.com/wlkq_qt.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="/static/js/jquery1.42.min.js"></script>
<script src="/static/js/stran.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.source.js"></script>
<script>
    jQuery(".picScroll-top").slide({
        mainCell: ".bd ul",
        autoPage: true,
        effect: "top",
        autoPlay: true,
        vis: 2,
        delayTime: 1000
    });
    jQuery(".slideBox").slide({mainCell: ".bd ul", autoPlay: true, delayTime: 1000});

    $(function () {
        //在线咨询点击事件
        $('.qiao_chat').click(function(){
            var chatUrl = "http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%22-1%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2211503032%22%2C%22userId%22%3A%2224835519%22%2C%22pageId%22%3A0%7D";
            var iName = "在线咨询";
            var iWidth = 720;
            var iHeight = 600;
            //获得窗口的垂直位置
            var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
            //获得窗口的水平位置
            var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
            window.open(chatUrl, iName, 'height=' + iHeight + ',width=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
        });
    });
</script>
</body>
</html>