<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拔牙-微创拔牙-拔智齿-复杂牙拔除-伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/exelcymosis.css">
    <link rel="stylesheet"  href="/static/css/slide.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<div class="wrap">
    <div class="container">
        <div class="item_0 inner">
            <h1 class="mt30">坏牙、病牙越早拔掉越好</h1>
            <div class="cont clearfix">
                <div class="left">
                    <img src="/static/img2/exelcymosis_item0_01.jpg" alt="伟联口腔">
                </div>

                <div class="right">
                    <h2><span>有哪些</span>牙要拔掉？</h2>
                    <p> 很多人宁愿忍受牙病的折磨也不忍心去拔牙，伟联口腔专家倡导尽可能保留每一颗可以保留的牙齿，但是，
                        当牙齿出现一定问题时，就必须得拔除，因为它可能使你的口腔增加隐患，使你的牙齿问题更糟糕，增加价格。</p>
                    <a href="javascript:;">点击咨询</a>
                </div>
            </div>
        </div>
        <div class="item_1 mt30 inner">
            <div class="item_1_cont">
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/pediatric_1.jpg" class="lazy" alt="微创拔牙">
                        <p><strong>乳牙滞留</strong>乳牙滞留占据了恒牙萌出的正常位置，恒牙可能会异位萌出，从而出现牙列不齐的情况。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/pediatric_2.jpg" class="lazy" alt="微创拔牙">
                        <p><strong>智齿复杂牙</strong>智齿会使劲儿顶住相邻的牙齿继续生长，在智齿生长过程中，会出现比较严重的牙龈肿胀、牙齿疼痛等症状。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/pediatric_3.jpg" class="lazy" alt="微创拔牙">
                        <p><strong>多生牙</strong>多生牙会使正常发育的牙齿争夺空间而引发炎症、牙齿松动、牙齿迟萌、错位，牙根吸收，囊肿等。</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/pediatric_4.jpg" class="lazy" alt="微创拔牙">
                        <p><strong>牙残根</strong>牙残根如不及时处置，就会渐渐“分崩离析”，最终原来鲜亮外形成为“残垣断墙”式的残冠残根</p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="item_2 mt30">
           <div class="inner">
               <h1>病牙、坏牙不拔有哪些危害</h1>
               <ul>
                   <li class="pic1"><img src="../../static/img2/pic_01.png" alt="伟联口腔微创拔牙"></li>
                   <li class="pic2"><img src="../../static/img2/pic_02.png" alt="伟联口腔微创拔牙"></li>
                   <li class="pic3"><img src="../../static/img2/pic_03.png" alt="伟联口腔微创拔牙"></li>
                   <li class="pic4"><img src="../../static/img2/pic_04.png" alt="伟联口腔微创拔牙"></li>
                   <li class="pic5"><img src="../../static/img2/pic_05.png" alt="伟联口腔微创拔牙"></li>
               </ul>
           </div>
        </div>
        <div class="item_3 mt30 inner">
            <div class="cont">
                <h1>拔智齿 你必须知道的事</h1>
                <div class="cont_t">
                    <div class="t_pic">
                        <img src="../../static/img2/pic_06.jpg" alt="">
                    </div>
                    <div class="t_letter">
                        <ul>
                            <li class="cont_title">智齿不拔有哪些危害</li>
                            <li class="second">因为清理不方便，容易存积食物残渣引起食细菌的积存，抵抗力下降时，出现冠周炎是必然的。
                                一般的消炎治疗治标不治本，因此冠周炎会反复发作。</li>
                            <li class="third">智齿往往不能与对颌牙齿建立正常的咬合关系，如果长时间可导致颞下颌关节弹响、张口疼痛，
                                夜磨牙等症状，对轻壮年的身心健康影响较大。</li>
                            <li class="fourth">针对女性拔智齿，发现的越早拔的越早不仅能把坏牙拔掉，而且还能够有效的把磨骨缩小。
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="shape"></div>
                <div class="cont_b">
                    <div class="b_letter">
                        <h2>拔智齿要注意什么？</h2>
                        <p>智齿拔除是非常复杂的，因为智齿，特别是阻生智齿的拔除技术性含量较高，难度较大，如果要拔除，一定要到
                            正规的医疗单位就诊。由于在有些医院的牙科机构环境和消毒等方面也会直接影响拔牙效果。 如牙医技术水平不
                            到位、消毒不规范，拔智齿可导致对邻牙组织及牙周牙龈的破坏，甚至引发拔智齿后出血不止、疼痛、感染等严
                            重后果的发生。</p>
                        <button class="online"><a href="javascript:;">在线咨询</a></button>
                    </div>
                    <div class="b_pic">
                        <img src="../../static/img2/pic_07.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="item_4 mt30">
            <div class="inner">
                <div class="cont">
                    <h2>你对拔牙的认识否还停留过去？</h2>
                    <div class="fl">
                        <h3>野蛮拔牙 让人伤痛不已</h3>
                        <p>传统拔牙器械由于受材料和设计的限制，往往需要用锤敲击辅助用力，震动大，给病人带来极大的心理恐惧。同时，
                            治疗后半边脸和嘴唇要麻很长时间才缓过来，甚至会引发周边软组织损伤及下颌关节脱位等并发症。</p>
                    </div>
                    <div class="fr">
                        <h3>伟联微创拔牙 舒适拔牙</h3>
                        <p>微创拔牙技术结合睡眠牙科，能让患者舒适、轻松的除掉患牙，由于微创拔牙器械的薄而锋利，可以快速而准确地
                            切断牙周膜，保护牙槽骨的完整性，手术损伤小，术后疼痛轻，创口愈合也比传统拔牙后恢复得快。
                        </p>
                    </div>
                    <img src="../../static/img2/pic_12.jpg" alt="伟联口腔微创拔牙">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="item_5 inner">
            <div class="cont">
                <h2>伟联微创拔牙过程详解</h2>
                <dl>
                    <dt><img src="../../static/img2/pic_08.jpg" alt=""></dt>
                    <dd>
                        <h3>口腔CT</h3>
                        <p>医院了解患者情况</p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="../../static/img2/pic_09.jpg" alt=""></dt>
                    <dd>
                        <h3>全面检查</h3>
                        <p>医生做口腔检查</p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="../../static/img2/pic_10.jpg" alt=""></dt>
                    <dd>
                        <h3>牙齿拔除</h3>
                        <p>在情况下拔出牙齿</p>
                    </dd>
                </dl>
                <dl class="last">
                    <dt><img src="../../static/img2/pic_11.jpg" alt=""></dt>
                    <dd>
                        <h3>术后保护</h3>
                        <p>放置消炎棉球消炎</p>
                    </dd>
                </dl>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="item_6 inner">
            <div class="item_title">
                <h2 class="title"><span>伟联专家团队</span></h2>
            </div>
            <!--our-teams start-->
            <section class="our_teams">
                <div class="inner">
                    <%include('./common/doctor_teams')%>
                </div>
            </section>
        </div>
        <div class="item_7 inner">
            <div class="item_title">
                <h2 class="title"><span>牙齿矫正相关知识</span></h2>
            </div>
            <div class="item7_cont">
                <ul>
                    <% if ($data.articleCount >0) {%>
                    <% for(var i = 0,len = $data.articleRows.length; i < len; i++){%>
                    <% var article = $data.articleRows[i]%>
                    <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                    <% }%>
                    <% }%>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<%include('./common/footer')%>
<script>
   $(function () {
       $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
       $('.ck-slide').ckSlide({
           autoPlay: true
       });
   });
</script>
</body>
</html>