<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="种植牙,种植牙齿,人工种植牙,广州种植牙,广州哪里种牙">
    <meta name="description" content="伟联口腔采用欧式微创无痛种植技术,原装进口种植系统,引进纳米纯钛种植材料,依据美学打造方案,定制完美种植牙,健康热线:020-38370866 0757-87779898">
    <title>种植牙_人工种植牙_广州哪里种牙_伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/implant.css">
    <link rel="stylesheet"  href="/static/css/slide.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--wrap start-->
<div class="wrap">
    <div class="inner">
        <div class="container">
            <div class="item_0">
                <h1><img src="http://img.wlkqzs.com/implant_title.jpg" class="lazy" alt="牙齿种植"></h1>
                <div class="item_0_left">
                    <img src="http://img.wlkqzs.com/implant_1.jpg" class="lazy" alt="牙齿种植">
                </div>
                <div class="item_0_right">
                    <p>人的一生只有乳牙、恒牙，恒牙掉了之后，就不能再生，现代医学虽不能让人类再生牙齿，但利用仿生学的方法
                        成功研制人工种植牙，将其植入牙床后，不仅形态逼真、美观，如同真牙一般，而且咀嚼功效也和真牙一样。</p>
                    <p>伟联口腔种植牙技术能够修复恒牙缺失，重建咀嚼功能，提高人类生存质量，有着不伤邻牙，耐用持久，坚固、美观
                        媲美真牙等优势，是当今国际口腔医学界公认的缺牙首选修复方式。本门诊采用国际化种植牙技术，引进国际先
                        进设备，全方位为患者提供最尖端的牙齿种植修复……<a href="javascript:;" class="detail">【详细】</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item_1">
                <div class="item_title">
                    <h2 class="title"><span>缺牙，带来的难言之隐</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/implant_2.jpg" class="lazy" alt="牙齿种植">
                        <h5>消化疾病</h5>
                        <p>咀嚼无力，增加肠胃负担</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/implant_3.jpg" class="lazy" alt="牙齿种植">
                        <h5>影响形象</h5>
                        <p>面部不协调，形象受损</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/implant_4.jpg" class="lazy" alt="牙齿种植">
                        <h5>发音障碍</h5>
                        <p>发音不清，影响日常社交</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/implant_5.jpg" class="lazy" alt="牙齿种植">
                        <h5>牙周疾病</h5>
                        <p>余牙遭殃，诱发牙周疾病</p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="item_2">
                <div class="item_title">
                    <h2 class="title"><span>伟联种植牙品牌战略合作伙伴</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="mt">
                    <h3>伟联口腔门诊引进世界种植系统，运用国内外种植牙技术，科学诊断，精密测量，为患者提供各种类型的种植义齿修复，全面满足个性化、 复杂化、高难度种植技术需求。</h3>
                    <div class="b_tab" id="b_tab">
                        <ul>
                            <li class="active">韩国奥齿泰种植系统</li>
                            <li>美国3I仿生纳米种植系统</li>
                            <li>德国费亚丹仿生种植系统</li>
                            <li>瑞士ITI仿生种植系统</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="b_tab_cont">
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/aochitai.jpg" class="lazy" alt="韩国奥齿泰种植系统">
                                <p class="dd_title">韩国奥齿泰种植系统</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>韩国奥齿泰种植系统</h5>
                                <p>1、不损伤邻牙：在缺牙处的牙槽骨内植入种植体，以此为基础修复缺失牙，不涉邻牙。</p>
                                <p>2、稳固牢靠：具有很强固位和稳定性，可象真牙一样扎根在患者的口腔里。</p>
                                <p>3、适应症广：通过人工牙根的植入就可以使牙齿缺失患者获得固定义齿修复。</p>
                                <p>4、原理科学：Osstem种植体的优化设计，咀嚼功能大大优于其他假牙 。</p>
                                <p></p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/kqzj08.jpg" class="lazy" alt="韩国奥齿泰种植系统">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/3i.jpg" class="lazy" alt="美国3I仿生纳米种植系统">
                                <p class="dd_title">美国3I仿生纳米种植系统</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>美国3I仿生纳米种植系统</h5>
                                <p>1、高效安全:缩短时间，简化操作、美观准确，安全舒适。</p>
                                <p>2、治愈快：增加纳米级磷酸钙晶体的沉积处理，更加稳定，适用即刻种植。</p>
                                <p>3、微创无痛：只需要微小的切口，可在舒适、无痛、轻松状态下完成治疗。</p>
                                <p>4、寿命长：纳米技术与人体相容性极高，密合性高，使用得当可使用终身。</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/kqzj08.jpg" class="lazy" alt="美国3I仿生纳米种植系统">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/feiyadan.jpg" class="lazy" alt="德国费亚丹仿生种植系统">
                                <p class="dd_title">德国费亚丹仿生种植系统</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>德国费亚丹仿生种植系统</h5>
                                <p>1、真假难辨、美观舒适：个性化设计，不用做传统的牙托，无异物感、舒适美观、不影响正常发音。</p>
                                <p>2、治疗安全、不伤健康牙：种植牙完成后，它会依靠自身牙根独立存在，不会影响两侧的健康牙。</p>
                                <p>3、稳固牢靠、功能持久：费亚丹具有极好的固位力，功能和美观上几乎和自然牙一样。</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/kqzj08.jpg" class="lazy" alt="德国费亚丹仿生种植系统">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="show_cont">
                            <div class="cont_left fl">
                                <img src="http://img.wlkqzs.com/iti.jpg" class="lazy" alt="瑞士ITI">
                                <p class="dd_title">瑞士ITI仿生种植系统</p>
                            </div>
                            <div class="cont_mid fl">
                                <h5>瑞士ITI仿生种植系统</h5>
                                <p>1、美观实用：颜色和形态逼真，就像刚刚长出的新牙。</p>
                                <p>2、安全简单：治疗程序简单，依靠自身牙根独立存在，不磨损两侧的健康牙。</p>
                                <p>3、稳固牢靠：极稳定，内八角连结及种植体结构有利于骨组织长入且功能持久。</p>
                                <p>4、方便快捷：完成时间比传统种植系统缩短2-3个月，舒适方便并能节省患者时间。</p>
                            </div>
                            <div class="cont_right fr">
                                <img src="http://img.wlkqzs.com/kqzj08.jpg" class="lazy" alt="瑞士ITI">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_3">
                <div class="item_title">
                    <h2 class="title"><span>口腔种植牙过程</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="item_3_cont">
                    <img src="http://img.wlkqzs.com/implant_7.jpg" class="lazy" alt="口腔种植牙过程">
                </div>
            </div>
            <div class="item_4">
                <div class="item_title">
                    <h2 class="title"><span>伟联口腔种植技术特色</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <h4><i class="p01"></i>生态环保</h4>
                        <img src="http://img.wlkqzs.com/implant_8.png" class="lazy" alt="牙齿矫正">
                        <span>选用原生态环保材质，能与口腔环境完美融合，从源头上消除健康隐患。</span>
                    </li>
                    <li>
                        <h4><i class="p02"></i>微创无痛</h4>
                        <img src="http://img.wlkqzs.com/implant_9.png" class="lazy" alt="牙齿矫正">
                        <span>国际最新的微创技术完成植入过程，只需1～2毫米微小切口，将创伤降低到几乎为零。</span>
                    </li>
                    <li>
                        <h4><i class="p03"></i>精准定位</h4>
                        <img src="http://img.wlkqzs.com/implant_10.png" class="lazy" alt="牙齿矫正">
                        <span>国际智能X射线影像系统及计算机导航种植，三维立体扫描，电脑计算出精确数据分析定位。</span>
                    </li>
                    <li>
                        <h4><i class="p04"></i>快速种植</h4>
                        <img src="http://img.wlkqzs.com/implant_11.png" class="lazy" alt="牙齿矫正">
                        <span>即拔即种，避免了传统种植牙漫长等待过程中的二次伤害，极大地减小了患者的痛苦。</span>
                    </li>
                    <li>
                        <h4><i class="p05"></i>坚固耐用</h4>
                        <img src="http://img.wlkqzs.com/implant_12.png" class="lazy" alt="牙齿矫正">
                        <span>国际品牌纯钛种植体，咀嚼受力原理与真牙一样，具有真牙般咀嚼承受力</span>
                    </li>
                    <li>
                        <h4><i class="p06"></i>自然美观</h4>
                        <img src="http://img.wlkqzs.com/implant_13.png" class="lazy" alt="牙齿矫正">
                        <span>根据患者脸型、肤色及口腔比例等数据，定制舒适和美观的牙冠，形态色泽与真牙无异</span>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
            <div class="item_5 clearfix">
                <div class="item_title">
                    <h2 class="title"><span>伟联专家团队</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <!--医生团队 start-->
                <section class="our_teams">
                    <div class="inner">
                        <%include('./common/doctor_teams')%>
                    </div>
                </section>
                <!--医生团队 end-->
            </div>

            <div class="item_6">
                <div class="item_title">
                    <h2 class="title"><span>牙齿种植相关知识</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="item6_cont">
                    <ul>
                        <% if ($data.articleCount >0) {%>
                            <% for(var i = 0,len = $data.articleRows.length; i < len; i++){%>
                                <% var article = $data.articleRows[i]%>
                        <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                            <% }%>
                        <% }%>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--wrap end-->

<%include('./common/footer')%>

<script>
    $(function () {
        $('.show_cont').eq(0).stop().fadeIn().siblings().hide();
        $('#b_tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $('.show_cont').eq(index).stop().fadeIn().siblings().hide();
        });

        $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
        $('.ck-slide').ckSlide({
            autoPlay: true
        });
    });
</script>
</body>
</html>