<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
	<meta name="sogou_site_verification" content="uzgOu9SpiD"/>
    <title>伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/index.css">
    <link rel="stylesheet"  href="/static/css/flexslider.css">
    <link rel="stylesheet"  href="/static/css/slide.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>
<!--banner start-->
<div class="flexslider banner">
    <ul class="slides">
        <li><a href="javascript:;"><img src="http://img.wlkqzs.com/ad_beauty.jpg" class="lazy" alt="伟联口腔"></a></li>
        <li><a href="javascript:;"><img src="http://img.wlkqzs.com/ad_pediatric.jpg" class="lazy" alt="伟联口腔"></a></li>
        <li><a href="javascript:;"><img src="http://img.wlkqzs.com/index_banner_5.jpg" class="lazy" alt="伟联口腔"></a></li>
        <li><a href="javascript:;"><img src="../../static/img2/index_banner_6.jpg" class="lazy" alt="伟联口腔"></a></li>
    </ul>
</div>
<!--banner end-->

<!--department start-->
<div class="department">
    <div class="inner">
        <ul class="nav_d">
            <li><a href="/implant"><p><img src="http://img.wlkqzs.com/icon_1.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">种植修复科</p></a></li>
            <li><a href="/braces"><p><img src="http://img.wlkqzs.com/icon_2.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">口腔正畸科</p></a></li>
            <li><a href="/beauty"><p><img src="http://img.wlkqzs.com/icon_3.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">口腔修复科</p></a></li>
            <li><a href="/toothwash"><p><img src="http://img.wlkqzs.com/icon_4.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">口腔牙周科</p></a></li>
            <li><a href="/exelcymosis"><p><img src="http://img.wlkqzs.com/icon_5.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">口腔外科</p></a></li>
            <li><a href="/pediatric"><p><img src="http://img.wlkqzs.com/icon_6.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">儿童齿科</p></a></li>
            <li><a href="/toothwash"><p><img src="http://img.wlkqzs.com/icon_7.jpg" class="lazy" alt="项目类型"></p>
                <p class="name_d">洁牙保健科</p></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--department end-->

<!--news start-->
<div class="news">
    <div class="inner">
        <div class="news_left">
            <div class="news_title">
                健康宣传
                <span class="more"><a href="/news">MORE>></a></span>
            </div>
            <div class="thumbs">
                <a href="javascript:;"><img src="http://img.wlkqzs.com/index_xstd.jpg" class="lazy" alt="伟联口腔"></a>
            </div>
            <ul class="news_menu">
                <% for(var i =0 ,len = $data.health.length; i < len; i++){%>
                    <% var health = $data.health[i];%>
                    <li><a href="/news_detail?id=<%= health.id%>"><%= health.title%></a></li>
                <% }%>
            </ul>
        </div>
        <div class="news_mid">
            <div class="news_title">
                新闻中心
                <span class="more"><a href="/news">MORE>></a></span>
            </div>
            <div class="contBox">
                <div class="cont">
                    <% for( var i = 0,len = $data.news_center.length; i < len; i++) {%>
                    <% var center = $data.news_center[i];%>
                    <div class="cont_list">
                        <div class="list_left">
                            <% if (center.thumbnail) {%>
                                <a href="/news_detail?id=<%= center.id%>"><img src="<%= center.thumbnail%>" alt=""></a>
                            <%} else {%>
                                <a href="/news_detail?id=<%= center.id%>"><img src="http://img.wlkqzs.com/news_center.jpg" class="lazy" alt="伟联口腔"></a>
                            <% }%>
                            <a href="/news_detail?id=<%= center.id%>"><h4><%= center.title%></h4></a>
                            <p><%- center.content%></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <% }%>
                </div>
            </div>
        </div>
        <div class="news_right">
            <div class="news_title">
                您的私人口腔医生
            </div>
            <div class="news_right_cont1" id="index_player">
                <a target="_blank" href="https://www.bilibili.com/video/av24183334">
                    <img src="http://img.wlkqzs.com/index_videos.jpg" class="lazy" alt="伟联口腔">
                </a>
            </div>
            <div class="news_right_cont2">
                <a href="javascript:;"><img src="http://img.wlkqzs.com/index_ad1.jpg" class="lazy" alt="伟联口腔"></a>
            </div>

        </div>
    </div>
</div>
<!--news end-->

<!--ad start -->
<div class="ad">
    <div class="inner">
        <a target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=13570135&userId=24835519">
            <img src="../../static/img2/ad.jpg" class="lazy" alt="ad">
        </a>
    </div>
</div>
<!--ad end-->

<!--our-teams start-->
<section class="our_teams">
    <div class="inner">
        <%include('./common/doctor_teams')%>
    </div>
</section>
<!--our-teams end-->

<!--center start-->
<div class="center">
    <div class="inner">
        <div class="mt">
            <div class="tab" id="tab">
                <ul>
                    <li class="ac"><a href="javascript:;">牙齿种植中心</a></li>
                    <li><a href="javascript:;">牙齿矫正中心</a></li>
                    <li><a href="javascript:;">口腔修复中心</a></li>
                    <li><a href="javascript:;">口腔内科中心</a></li>
                    <li><a href="javascript:;">口腔外科中心</a></li>
                    <li><a href="javascript:;">儿童口腔中心</a></li>
                </ul>
            </div>
            <div class="tab_menu" id="tab_menu">
                <!--牙齿种植 start-->
                <div class="combine_cont">
                    <div class="cont-left">
                        <p class="cont_list">
                            种植牙适合人群:
                            <% for (var i = 0,len = $data.implant_fit.length; i < len; i++){%>
                            <% var implant_fit = $data.implant_fit[i]; %>
                                <a href="/case_detail?id=<%= implant_fit.id %>"><%=implant_fit.title%></a>
                            <%}%>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_implant_left.jpg" class="lazy" alt="种植牙中心">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州做微创种植牙需要多少钱？</a></h3>
                            <p>牙齿的缺失让大家灰心丧气，不能自信盎然的张开自己的嘴巴。如今种植牙成为全球首当其冲的最...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.implant_article.length; i < len; i++){%>
                                    <% var implant_article = $data.implant_article[i]; %>
                                    <li><a href="/news_detail?id=<%= implant_article.id %>">• <%=implant_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=38" target="_blank" class="ques_color">Q:补牙和种植牙有何区别?</a><br>
                                    <a href="/case_detail?id=38" target="_blank">A:补牙是指修补牙体的缺损...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=39" target="_blank" class="ques_color">Q:种植牙的使用寿命有多长？</a><br>
                                    <a href="/case_detail?id=39" target="_blank">A:做过种植牙手术的人5年...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=40" target="_blank" class="ques_color">Q:种植牙的过程是什么样的？</a><br>
                                    <a href="/case_detail?id=40" target="_blank">A:第一步：经过充分的术前口腔...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=41" target="_blank" class="ques_color">Q:种植牙技术成熟吗？</a><br>
                                    <a href="/case_detail?id=41" target="_blank">A:种植牙是现在牙齿缺失最好...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=42" target="_blank" class="ques_color">Q:人工种植牙有哪些优缺点？</a><br>
                                    <a href="/case_detail?id=42" target="_blank">A:人工种植牙是在缺牙区牙槽...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=43" target="_blank" class="ques_color">Q:种植牙的适应范围？</a><br>
                                    <a href="/case_detail?id=43" target="_blank">A:一般而言，种植牙适用于以...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_implant_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--牙齿种植 end-->

                <!--牙齿矫正 start-->
                <div class="combine_cont" style="display: none">
                    <div class="cont-left">
                        <p class="cont_list">
                            正畸适合人群:
                            <% for (var i = 0,len = $data.braces_fit.length; i < len; i++){%>
                                <% var braces_fit = $data.braces_fit[i]; %>
                                <a href="/case_detail?id=<%= braces_fit.id %>"><%=braces_fit.title%></a>
                            <%}%>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_brace-left.jpg" class="lazy" alt="种植牙中心">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州做牙齿正畸需要多少钱？</a></h3>
                            <p>牙齿畸形影响颜面美观是最直观的，如地包天、开唇露齿、 牙缝过大等都会使人的整体形象大打折扣...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.braces_article.length; i < len; i++){%>
                                    <% var braces_article = $data.braces_article[i]; %>
                                    <li><a href="/news_detail?id=<%= braces_article.id %>">• <%=braces_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=44" target="_blank" class="ques_color">Q:牙齿矫正的最佳年龄是?</a><br>
                                    <a href="/case_detail?id=44" target="_blank">A:牙齿矫正没有年龄限制，现代...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=45" target="_blank" class="ques_color">Q:牙齿矫正器刮嘴怎么办？</a><br>
                                    <a href="/case_detail?id=45" target="_blank">A:为了尽可能避免矫正器刮嘴...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=46" target="_blank" class="ques_color">Q:矫正牙齿是否需要拔牙呢？</a><br>
                                    <a href="/case_detail?id=46" target="_blank">A:牙齿矫正需要拔牙的理由如下...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=47" target="_blank" class="ques_color">Q:矫正牙齿能直接带隐形牙套吗？</a><br>
                                    <a href="/case_detail?id=47" target="_blank">A:在进行了一系列检查，制定矫...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=48" target="_blank" class="ques_color">Q:隐形牙齿矫正是怎么样的？</a><br>
                                    <a href="/case_detail?id=48" target="_blank">A:隐形矫正牙齿是一种牙齿...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=49" target="_blank" class="ques_color">Q:隐形托槽矫正牙齿好吗？</a><br>
                                    <a href="/case_detail?id=49" target="_blank">A:美观舒适快捷，易于清洁...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_braces_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--牙齿矫正 end-->

                <!--牙齿修复 start-->
                <div class="combine_cont" style="display: none">
                    <div class="cont-left">
                        <p class="cont_list">
                            口腔修复中心适合人群:
                            <% for (var i = 0,len = $data.beauty_fit.length; i < len; i++){%>
                                <% var beauty_fit = $data.beauty_fit[i]; %>
                                <a href="/case_detail?id=<%= beauty_fit.id %>"><%=beauty_fit.title%></a>
                            <%}%>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_beauty_left.jpg" class="lazy" alt="种植牙中心">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州地区做牙齿修复需要多少钱？</a></h3>
                            <p>因为牙齿不齐、色素牙、牙齿稀疏、牙齿缺损等问题，导致我们难以展露笑容...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.beauty_article.length; i < len; i++){%>
                                    <% var beauty_article = $data.beauty_article[i]; %>
                                    <li><a href="/news_detail?id=<%= beauty_article.id %>">• <%=beauty_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=50" target="_blank" class="ques_color">Q:牙齿越白越好吗？</a><br>
                                    <a href="/case_detail?id=50" target="_blank">A:牙齿越白越好吗？答案是否...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=51" target="_blank" class="ques_color">Q:为什么要尽早拆除不良修复体？</a><br>
                                    <a href="/case_detail?id=51" target="_blank">A:在牙体、牙列缺损的修复过...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=52" target="_blank" class="ques_color">Q:什么是镶牙？</a><br>
                                    <a href="/case_detail?id=52" target="_blank">A:镶牙，又称口腔修复，主要...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=53" target="_blank" class="ques_color">Q:镶牙的过程？</a><br>
                                    <a href="/case_detail?id=53" target="_blank">A:我们所说的镶牙其实也叫口腔...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=54" target="_blank" class="ques_color">Q:贴面美白牙齿的方法好吗？</a><br>
                                    <a href="/case_detail?id=54" target="_blank">A:贴面美白原理贴面美白是...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=55" target="_blank" class="ques_color">Q:瓷嵌体与补牙有什么区别吗？</a><br>
                                    <a href="/case_detail?id=55" target="_blank">A:边缘密合性高。这一点取决...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_beauty_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--牙齿修复 end-->

                <!--口腔内科 start-->
                <div class="combine_cont" style="display: none">
                    <div class="cont-left">
                        <p class="cont_list">
                            口腔内科适合人群:
                            <% for (var i = 0,len = $data.medicine_fit.length; i < len; i++){%>
                                <% var medicine_fit = $data.medicine_fit[i]; %>
                                <a href="/case_detail?id=<%= medicine_fit.id %>"><%=medicine_fit.title%></a>
                            <%}%>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_neike_left.jpg" class="lazy" alt="口腔内科">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州做微创种植牙需要多少钱？</a></h3>
                            <p>牙齿的缺失让大家灰心丧气，不能自信盎然的张开自己的嘴巴。如今种植牙成为全球首当其冲的最...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.medicine_article.length; i < len; i++){%>
                                    <% var medicine_article = $data.medicine_article[i]; %>
                                    <li><a href="/news_detail?id=<%= medicine_article.id %>">• <%=medicine_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=56" target="_blank" class="ques_color">Q:牙周病有哪些种类？</a><br>
                                    <a href="/case_detail?id=56" target="_blank">A:牙周病是指发生在牙周支持...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=57" target="_blank" class="ques_color">Q:牙周炎和牙龈炎有什么区别？</a><br>
                                    <a href="/case_detail?id=57" target="_blank">A:牙龈炎是指仅发生在牙龈...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=58" target="_blank" class="ques_color">Q:牙齿松的动是什么原因？</a><br>
                                    <a href="/case_detail?id=58" target="_blank">A:牙齿遭到撞伤、跌伤或过度咬伤...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=59" target="_blank" class="ques_color">Q:牙髓坏疽如何治疗？</a><br>
                                    <a href="/case_detail?id=59" target="_blank">A:牙髓坏疽的治疗可使用...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=60" target="_blank" class="ques_color">Q:老年人牙髓病的原因是什么？</a><br>
                                    <a href="/case_detail?id=60" target="_blank">A:老年人牙髓病的主要病因为龋病...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=61" target="_blank" class="ques_color">Q:牙髓炎的治疗原则是什么呢？</a><br>
                                    <a href="/case_detail?id=61" target="_blank">A:牙髓炎患者的一个主要表现...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_neike_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--口腔内科 end-->

                <!--口腔外科 satrt-->
                <div class="combine_cont" style="display: none">
                    <div class="cont-left">
                        <p class="cont_list">
                            口腔外科适合人群:
                                <a href="javascript:;">复杂牙拔除</a>
                                <a href="javascript:;">正颌手术</a>
                                <a href="javascript:;">上颌窦提升</a>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_waike_left.jpg" class="lazy" alt="种植牙中心">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州做微创种植牙需要多少钱？</a></h3>
                            <p>牙齿的缺失让大家灰心丧气，不能自信盎然的张开自己的嘴巴。如今种植牙成为全球首当其冲的最...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.surgical_article.length; i < len; i++){%>
                                    <% var surgical_article = $data.surgical_article[i]; %>
                                    <li><a href="/news_detail?id=<%= surgical_article.id %>">• <%=surgical_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=62" target="_blank" class="ques_color">Q:牙周病要拔牙吗?？</a><br>
                                    <a href="/case_detail?id=62" target="_blank">A:有些是需要拔牙的。例如...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=63" target="_blank" class="ques_color">Q:龋病患者拔牙后需要注意什么？</a><br>
                                    <a href="/case_detail?id=63" target="_blank">A:龋病(蛀牙)患者拔牙后需要...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=64" target="_blank" class="ques_color">Q:拔牙的最佳时间是多久？</a><br>
                                    <a href="/case_detail?id=64" target="_blank">A:拔牙一般到不会受到时间...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=65" target="_blank" class="ques_color">Q:正颌手术上颌问题？</a><br>
                                    <a href="/case_detail?id=65" target="_blank">A:正颌手术还是需要配合牙...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=66" target="_blank" class="ques_color">Q:什么是复杂牙拔除术？</a><br>
                                    <a href="/case_detail?id=66" target="_blank">A:口腔外科将口腔内存在较...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=67" target="_blank" class="ques_color">Q:复杂牙拔除术和普通的有区别？</a><br>
                                    <a href="/case_detail?id=67" target="_blank">A:复杂牙分为埋伏牙、阻生牙...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_waike_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--口腔外科 end-->

                <!--儿童牙科 start-->
                <div class="combine_cont" style="display: none">
                    <div class="cont-left">
                        <p class="cont_list">
                            儿童牙科适合人群:
                            <% for (var i = 0,len = $data.pediatric_fit.length; i < len; i++){%>
                                <% var pediatric_fit = $data.pediatric_fit[i]; %>
                                <a href="/case_detail?id=<%= pediatric_fit.id %>"><%=pediatric_fit.title%></a>
                            <%}%>
                        </p>
                        <div class="cont_left_img">
                            <img src="http://img.wlkqzs.com/index_pediatric_left.jpg" alt="种植牙中心">
                        </div>
                        <div class="cont_left_txt">
                            <h3><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">广州地区哪里看儿童牙科好？</a></h3>
                            <p>地包天、牙齿不齐、龅牙是常见于儿童的牙齿畸形症状，都非常影响孩子 的美观，及咀嚼食物...
                                <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D" class="red">详细</a>
                            </p>
                            <ul class="cont_left_news">
                                <% for (var i = 0,len = $data.pediatric_article.length; i < len; i++){%>
                                    <% var pediatric_article = $data.pediatric_article[i]; %>
                                    <li><a href="/news_detail?id=<%= pediatric_article.id %>">• <%=pediatric_article.title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="question">
                            <div class="q_img">
                                <a href="javascript:;"><img src="http://img.wlkqzs.com/green_qa.jpg" alt="问答"></a>
                            </div>
                            <ul class="q_list ml5">
                                <li>
                                    <a href="/case_detail?id=68" target="_blank" class="ques_color">Q:为什么脱落的乳牙无牙根？</a><br>
                                    <a href="/case_detail?id=68" target="_blank">A:正常情况下 每一个乳牙牙根的...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=69" target="_blank" class="ques_color">Q:如何处理孩子换牙期乳牙滞留？</a><br>
                                    <a href="/case_detail?id=69" target="_blank">A:小朋友一般在六岁开始换牙...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=70" target="_blank" class="ques_color">Q:儿童为什么会发生龋齿？</a><br>
                                    <a href="/case_detail?id=70" target="_blank">A:童发生龋齿的主要因素有四...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=71" target="_blank" class="ques_color">Q:每天刷牙但还是会有龋齿产生？</a><br>
                                    <a href="/case_detail?id=71" target="_blank">A:龋齿形成的主要因素是附着...</a>
                                </li>
                            </ul>
                            <ul class="q_list">
                                <li>
                                    <a href="/case_detail?id=72" target="_blank" class="ques_color">Q:窝沟封闭什么年龄做合适？</a><br>
                                    <a href="/case_detail?id=72" target="_blank">A:窝沟封闭应该是每个牙都要...</a>
                                </li>
                                <li>
                                    <a href="/case_detail?id=73" target="_blank" class="ques_color">Q:孩子有蛀牙要拔掉吗？</a><br>
                                    <a href="/case_detail?id=73" target="_blank">A:我国青少年90%以上的龋发...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont-right">
                        <a href="javascript:;"><img src="http://img.wlkqzs.com/index_pediatric_right.jpg" class="lazy" alt=""></a>
                    </div>
                </div>
                <!--儿童牙科 end-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--center end-->
<!--environment start-->
<div class="environment clearfix">
    <div class="inner">
        <div class="en_wrap">
            <div class="en_tab" id="en_tab">
                <ul>
                    <li class="active">监管单位 / &nbsp;</li>
                    <li>友情链接</li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="en_tab_menu" id="en_tab_menu">
                <div class="en_cont">
                    <div class="en_pic"><a class="jg_01" href="javascript:;" >&nbsp;&nbsp;</a>国家卫生部</div>
                    <div class="en_pic"><a class="jg_02" href="javascript:;" >&nbsp;&nbsp;</a>国家食药监局</div>
                    <div class="en_pic"><a class="jg_03" href="javascript:;" >&nbsp;&nbsp;</a>中国医师协会</div>
                    <div class="en_pic"><a class="jg_04" href="javascript:;" >&nbsp;&nbsp;</a>中华医学会</div>
                    <div class="en_pic"><a class="jg_05" href="javascript:;" >&nbsp;&nbsp;</a>广州市卫生局</div>
                    <div class="en_pic"><a class="jg_06" href="javascript:;" >&nbsp;&nbsp;</a>世界卫生组织</div>
                    <div class="en_pic"><a class="jg_07" href="javascript:;" >&nbsp;&nbsp;</a>中国卫生监督</div>
                    <div class="en_pic"><a class="jg_08" href="javascript:;" >&nbsp;&nbsp;</a>中华口腔医学会</div>
                    <div class="clearfix"></div>
                </div>
                <div class="en_cont" style="display: none;">
					<div class="link-index"><a href="https://weibo.com/u/6680613125?refer_flag=1001030101" target="_blank">新浪微博</a></div>
                    <div class="link-index"><a href="http://www.beautifulya.com/" target="_blank">360美牙</a></div>
					<div class="link-index"><a href="http://www.54admin.net" target="_blank">站长分类目录</a></div>
					<div class="link-index"><a href="http://www.cnzz.so" target="_blank">站长目录</a></div>
					<div class="link-index"><a href="http://www.00331.net" target="_blank">00331分类目录</a></div>
					<div class="link-index"><a href="http://xuzhou-myour.com" target="_blank">成人牙齿矫正</a></div>
					<div class="link-index"><a href="http://www.xzmyour.cn" target="_blank">牙齿种植价格表</a></div>
					<div class="link-index"><a href="http://www.xuzhoumyour.com" target="_blank">牙齿矫正价格表</a></div>
					<div class="link-index"><a href="http://www.0460.com" target="_blank">网站之家</a></div>
                    <div class="link-index"><a href="javascript:;">友情链接</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--environment end-->
<%include('./common/footer')%>
<script src="/static/js/index.js"></script>
<script src="/static/js/jquery.fancybox.min.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?115c69e76ff9f812e6d3cff53a158930";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>
    $(function () {
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });

        $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
        $('.ck-slide').ckSlide({
            autoPlay: true
        });

//        $(".fancybox").fancybox({
//            fitToView: false,
//            content: '<span></span>', // create temp content
//            scrolling: 'no',
//            afterLoad: function () {
//                var $width = $(this.element).data('width'); // get dimensions from data attributes
//                var $height = $(this.element).data('height');
//                this.content = "<video autoplay src='" + this.href + "' type='application/x-shockwave-flash' width='" + $width + "' height='" + $height + "'></video>";
//            }
//        });
    });
</script>
</body>
</html>