<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="口腔新闻,口腔资讯,口腔交流,口腔常识">
    <meta name="description" content="伟联口腔致力于提供一对一，安全、无痛、无菌、高私密化的高档专业齿科服务。以学科齐全、技术力 量雄厚、特色专科突出、是一家绿色环保、安全放心的牙科诊所">
    <title><%= $data.article.title%>_伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="/static/css/aside.css">

</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->
<!--wrap start-->
<div class="container">
    <div class="inner">
        <div class="news_index">
            <p>当前位置: <a href="/">伟联口腔诊所 ></a> <a href="/contact_us">关于伟联 ></a> <a
                    href="/news">新闻中心</a></p>
        </div>
        <div class="content">
            <div class="article">
                <div class="article_cont">
                    <h2><%= $data.article.title%></h2>
                    <h3>浏览时间: <%= $data.article.updatedAt%> 来源: 网络 编辑: <span id="click_num" data-id="<%= $data.article.id%>">wlkq 点击数: <%= $data.article.clickNum%></span>
                    </h3>
                    <div class="content">
                        <%- $data.article.content%>
                    </div>

                </div>
                <div class="article_footer">
                    <ul class="pages">
                        <li class="prev"><a href="/news_detail?id=<%= $data.prev %>">上一篇</a></li>
                        <li class="next"><a href="/news_detail?id=<%= $data.next %>">下一篇</a></li>
                    </ul>
                </div>
                <div class="related">
                    <div class="related_article">
                        <h3>推荐文章 <a href="/news">+</a></h3>
                        <% for (var i = 0,len = $data.list.length; i < len ;i++) {%>
                        <% var articleList = $data.list[i]%>
                        <p><a href="/news_detail?id=<%= articleList.id%>">• <%= articleList.title%></a></p>
                        <% }%>
                    </div>
                    <div class="question">
                        <h3>热门问答 <a href="javascript:;">+</a></h3>
                        <% for (var i = 0,len = $data.list_right.length; i < len ;i++) {%>
                        <% var articleList_r = $data.list_right[i]%>
                        <p><a href="/news_detail?id=<%= articleList_r.id%>">• <%= articleList_r.title%></a></p>
                        <% }%>
                    </div>
                </div>
            </div>
            <aside class="aside">
                <div class="aside_3">
                    <div class="title">
                        <h2><span>热门活动</span></h2>
                    </div>
                    <div id="slideBox" class="slideBox">
                        <div class="hd">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_1.jpg"/></a>
                                </li>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_2.jpg"/></a>
                                </li>
                                <li><a href="javascript:;" target="_blank"><img src="http://img.wlkqzs.com/active_3.jpg"/></a>
                                </li>
                            </ul>
                        </div>

                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>

                    </div>
                </div>
            </aside>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--wrap end-->


<!--clan_slider start-->
<div class="clan_slider">
    <ul>
        <li>
            <a href="javascript:;" class="qiao_chat">
                <img src="http://img.wlkqzs.com/open_qiao.jpg" alt="右侧导航">
            </a>
        </li>
        <li >
            <a href="#f_chat" class="web_chat">
                <img src="http://img.wlkqzs.com/open_what.jpg" alt="右侧导航">
            </a>

        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3177645255&site=qq&menu=yes">
                <img src="http://img.wlkqzs.com/open_qq.jpg" alt="右侧导航">
            </a>
        </li>
        <li>
            <a href="https://www.nuomi.com/deal/i00vbjk7f.html" target="_blank">
                <img src="http://img.wlkqzs.com/open_nuomi.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://img.wlkqzs.com/go_top.jpg"  class="go_top" alt="">
            </a>
        </li>
    </ul>
</div>
<!--clan_slider end-->

<!--footer start-->
<footer class="footer">
    <div class="inner">
        <div class="footer_left">
            <img src="http://img.wlkqzs.com/footer_logo.png" alt="伟联口腔">
        </div>
        <div class="footer_mid">
            <p>广州地区诊所:天河区龙口西路216号</p>
            <p>佛山地区诊所:三水区西南街道文锋东路14号</p>
            <p>门诊时间：8：30-21：00（节假日不休）</p>

            <p class="beian">备案号:粤ICP备17132073号-1</p>
            <p>版权:广州薇笑科技有限公司</p>
            <p>本网站信息仅供参考，不能作为诊疗及医疗依据；部分图片来源于网络，如有侵权，可发送邮件联系删除。</p>
        </div>
        <div class="footer_right">
            <p>扫描最新优惠 | 手机随时查询 | 口腔实时资讯</p>
            <div class="code_1">
                <a href="javascript:;" name="f_chat"><img src="http://img.wlkqzs.com/myyayi.jpg" alt=""></a>
            </div>
            <div class="code_2">
                <a href=""><img src="http://img.wlkqzs.com/wlkq_qt.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="/static/js/jquery1.42.min.js"></script>
<script src="/static/js/stran.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.source.js"></script>
<script>
    $(function () {
        var clickNum =<%= $data.article.clickNum%>;
        var id =<%= $data.article.id%>;

        window.onbeforeunload = function () {
            $.post('/api/article/clickNum', {id: id, clickNum: clickNum}).then(function (res) {
                var def = $.Deferred();
                return res.code == 200 ? def.resolve() : def.reject(res.msg);
            }).done(function (msg) {
                console.log(msg);
            }).fail(function (msg) {
                console.log(typeof msg === 'string' ? msg : '服务器出现错误,请重试');
            });
        }
    });

    jQuery(".picScroll-top").slide({
        mainCell: ".bd ul",
        autoPage: true,
        effect: "top",
        autoPlay: true,
        vis: 2,
        delayTime: 1000
    });
    jQuery(".slideBox").slide({mainCell: ".bd ul", autoPlay: true, delayTime: 1000});

    $(function () {
        //在线咨询点击事件
        $('.qiao_chat').click(function(){
            var chatUrl = "http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%22-1%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2211503032%22%2C%22userId%22%3A%2224835519%22%2C%22pageId%22%3A0%7D";
            var iName = "在线咨询";
            var iWidth = 720;
            var iHeight = 600;
            //获得窗口的垂直位置
            var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
            //获得窗口的水平位置
            var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
            window.open(chatUrl, iName, 'height=' + iHeight + ',width=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
        });
    });
</script>
</body>
</html>