<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="儿童齿科,龋齿,蛀牙,正畸">
    <meta name="description" content="伟联口腔儿童牙科,儿童专家亲诊,诊疗细心关注孩子的反应,一站式解决儿童口腔问题,健康热线:020-38370866 0757-87779898">
    <title>龋齿-蛀牙-儿童牙科-伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/pediatric.css">
    <link rel="stylesheet"  href="/static/css/slide.css">

</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--wrap start-->
<div class="wrap">
    <div class="inner">
        <div class="container">
            <div class="item_0">
                <h1>口腔的问题，父母怎能不上心？</h1>
                <div class="item_0_cont">
                    <ul>
                        <li>
                            <img src="http://img.wlkqzs.com/pediatric_1.jpg" class="lazy" alt="儿童牙科">
                            <p><strong>龋齿（蛀牙）</strong>儿童正处于生长发育的阶段，龋齿会影响牙颌系统的发育，造成后天
                                的牙齿畸形。龋齿疼痛会影响儿童的进食，食物没有经过细细咀嚼就囫囵吞枣地进到胃里，加重了胃
                                的负担，粗糙的食物不能在胃内消化完全，就会影响到小肠对营养的吸收。久而久之，降低了孩子的体质。</p>
                        </li>
                        <li>
                            <img src="http://img.wlkqzs.com/pediatric_2.jpg" class="lazy" alt="儿童牙科">
                            <p><strong>牙齿畸形</strong>地包天、牙齿不齐、龅牙是常见于儿童的牙齿畸形症状，都非常影响孩子
                                的美观，及咀嚼食物，所以不仅会给孩子带来自卑心理，同时也会影响孩子对食物营养的吸收，导致
                                免疫力降低，体质差，阻碍身体的正常发育。</p>
                        </li>
                        <li>
                            <img src="http://img.wlkqzs.com/pediatric_3.jpg" class="lazy" alt="儿童牙科">
                            <p><strong>意外缺损</strong>如果儿童处于换牙期，牙齿意外缺失依然会有长出来的机会，不过如果是
                                长出的恒牙意外缺失，就无法再长出新牙，不仅影响美观，而且会影响牙齿对食物的咀嚼，从而导致
                                身体体质差，免疫力降低，引发其他病症。</p>
                        </li>
                        <li>
                            <img src="http://img.wlkqzs.com/pediatric_4.jpg" class="lazy" alt="儿童牙科">
                            <p><strong>窝沟封闭</strong>治疗的适合时间：<br>
                                乳磨牙3-4岁，<br>
                                第1恒磨牙6-7岁，<br>
                                第二恒磨牙11-13岁，双尖牙9-13岁。 窝沟封闭的方法很简单，通过清洁牙齿、酸蚀、冲洗干燥、涂布封闭剂和固化几个步骤即可完成。</p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="item_0_footer">
                    <div class="left">
                        <img src="http://img.wlkqzs.com/pediatric_5.jpg" class="lazy" alt="伟联口腔">
                    </div>
                    <div class="right">
                        <p><strong>专家建议</strong><br>
                            龋齿、乳牙滞留、牙列不齐、夜磨牙、前牙反合（地包天）、多生牙等是常见的儿童口腔问题，许多父母
                            忽视儿童口腔健康问题，错过了孩子比较好的治疗时期，影响孩子的身心健康。伟联口腔专家建议您，对于孩
                            子的牙齿问题，要早发现，早治疗，这将对孩子的口腔健康，及孩子的身体发育起到至关重要的作用。</p>
                        <a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">
                            <img src="http://img.wlkqzs.com/pediatric_6.jpg" class="lazy" border="0">
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="item_1">
                <h1>伟联口腔针对儿童口腔问题，分型诊疗效果更佳！</h1>
                <div class="mt">
                    <div class="p_tab" id="p_tab">
                        <ul>
                            <li class="active">龋齿（蛀牙）——窝沟封闭、补牙</li>
                            <li>牙齿畸形——牙齿矫正</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="p_tab_cont">
                        <div class="show_cont">
                            <div class="show_cont_item">
                                <h3>（儿童）预防先行——窝沟封闭、氟保护给孩子穿上双层保护衣！</h3>
                                <div class="thumbnail">
                                    <img src="http://img.wlkqzs.com/pediatric_7.jpg" class="lazy" alt="儿童牙科">
                                </div>
                                <div class="desc">
                                    <p class="txt_left">窝沟封闭是指不损伤牙体组织，将窝沟封闭材料涂布于牙冠咬合面、颊舌面的窝沟点隙，当
                                        它流入并渗透窝沟后固化变硬，形成一层保护性的屏障，覆盖在窝沟上，能够阻止致龋菌及酸
                                        性代谢产物对牙体的侵蚀，以达到预防窝沟龋的方法；氟保护是目前广泛使用的防龋方法之一，
                                        主要用于预防龋齿、保护牙釉质。<span>技术</span></p>
                                    <p class="txt_right">窝沟封闭是一种安全、有效的方法，用安全的"流体树脂材料"将这些沟壑填充
                                        让其不能藏匿残渣和细菌；而氟保护的降龋率达到了20%—70 %<span>技术优势</span></p>
                                    <p class="txt_bot">窝沟封闭的方法很简单，通过清洁牙齿、酸蚀、冲洗干燥、涂布封闭剂和固化几个步骤即可完成；
                                        氟保护建议每年使用两次，即有显著防龋效果。<span>专家建议</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="show_cont_item" style="margin-top: 40px;">
                                <h3>（青少年）治疗有高招——就用美国3M纳米树脂补牙！</h3>
                                <div class="thumbnail">
                                    <img src="http://img.wlkqzs.com/pediatric_8.jpg" class="lazy" alt="儿童牙科">
                                </div>
                                <div class="desc">
                                    <p class="txt_left">伟联口腔诊所引进的纳米树脂补牙采用的是当代科技生产的补牙材料，
                                        其填料的颗粒度达到纳米级，经国际JCI认证的安全材料，也是迄今世界上科学的补牙材料，适合大多数的患者选用。<span>技术</span></p>
                                    <p class="txt_right">它具有色泽稳定，粘结性强，生物相容性好、更耐磨、坚固长久等。可以填充牙洞，
                                        且美观自然，可谓是性价比较高的补牙材料，不易脱落。<span>技术优势</span></p>
                                    <p class="txt_bot">伟联所采用的纯韩树脂补牙材料，是3M树脂材料，具有半透明性，且具有
                                        乳光色泽，与材料卓越的半透明性一起，可以满足更多补牙者的需求，其性能较过去的复合树脂类材料有较大提高。<span>专家建议</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="show_cont">
                            <h4>儿童矫正的最佳时间:</h4>
                            <div class="best_time">
                                <ul>
                                    <li><img src="http://img.wlkqzs.com/pediatric_9.jpg" class="lazy"><span>乳牙期阶段(4-5岁)<br>
            该期主要适用于乳牙反颌(地包天)，早期矫治有利于上颌骨发育，预防恒牙反颌。如果孩子有不良习惯(如伸舌、咬唇等)，在这个阶段也可以得到纠正。</span></li>
                                    <li><img src="http://img.wlkqzs.com/pediatric_10.jpg" class="lazy"><span>替牙期阶段(女：8-10岁，男：9-12岁)<br>
            这是孩子生长发育的青春前期和高峰期，功能性或骨性错颌畸形的孩子在此阶段治疗可充分利用颌骨的生长潜能，以确保牙齿移动及牙槽骨改建的效率达到较好状态，从而取得理想的矫正效果。</span></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="lead">
                                <p>专家指出：当儿童恒牙长出后，又出现意外缺失的现象，针对缺失的牙齿，如何无法采取补牙的措施，
                                    则可先带牙冠，等孩子牙槽骨发育成熟，可进行牙种植，种植后的牙齿如新生一般，无任何副作用。</p>
                                <a href="javascript:;">了解详情</a>
                            </div>

                            <div class="trust">
                                <h4>解决孩子的口腔问题，伟联口腔值得信赖！</h4>
                                <div class="trust_cont">
                                    <img src="http://img.wlkqzs.com/pediatric_11.jpg" class="lazy" alt="伟联口腔">
                                    <p>伟联口腔已经成为华南区极具规模的专业口腔连锁机构，伟联秉承“爱贤尊能、安全无菌、健齿为本、
                                        恩泽社会” 的经营理念，坚持“专科·专家·实力保证”的服务宗旨，以“高效·务实·竞争·团结”
                                        为 企业文化核心，严格遵循美国牙科协会(ADA)和中国国家卫生监督机构的双重操作规范，采用独特的港
                                        式服务和全预约一体化诊疗服务，让每一位顾客尊享健康完美微笑之旅。
                                        <br>
                                        <br>
                                        伟联口腔门诊部起源于1980年，历经30年的发展，成为中国高端连锁口腔机构之一。伟联口腔致力于提供一对一，
                                        安全、无痛、无菌、高私密化的高档专业齿科服务。 同时，伟联口腔诊所还肩负着推动国内口腔行业质量标准以
                                        及国际交流的重任， 伟联将用诚心服务和专业操守赢得品牌信誉。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="item_5 clearfix">
                <div class="item_title">
                    <h2 class="title"><span>伟联专家团队</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <!--our-teams start-->
                <section class="our_teams">
                    <div class="inner">
                        <%include('./common/doctor_teams')%>
                    </div>
                </section>
                <!--our-teams end-->
            </div>
            <div class="item_6">
                <div class="item_title">
                    <h2 class="title"><span>牙齿种植相关知识</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="item6_cont">
                    <ul>
                        <% if ($data.articleCount >0) {%>
                            <% for(var i = 0,len = $data.articleRows.length; i < len; i++){%>
                                <% var article = $data.articleRows[i]%>
                        <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                            <% }%>
                        <% }%>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--wrap end-->

<%include('./common/footer')%>

<script>
    $(function () {
        $('.show_cont').eq(0).stop().fadeIn().siblings().hide();
        $('#p_tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $('.show_cont').eq(index).stop().fadeIn().siblings().hide();
        });

        $('#ck-slide ul li').eq(0).stop().fadeIn().siblings().hide();
        $('.ck-slide').ckSlide({
            autoPlay: true
        });
    });
</script>
</body>
</html>