<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="伟联口腔,广州牙科诊所,口腔医院,牙科医院，口腔溃疡">
    <meta name="description" content="伟联口腔，您的私人口腔医生，竭诚为您服务的齿科管理中心，健康热线:020-38370866 0757-87779898">
    <title>伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/synopsis.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--welcome start-->
<section class="banner_welcome">
    <div class="inner">
        <h3>欢迎访问，伟联口腔牙科网站，我们是你的口腔专家</h3>
        <p>伟联口腔重视医护人员的培养，拥有国内一流的牙科技术专业服务团队，门诊医师均拥有8年 <br>
            以上工作经验，并在国内口腔大赛取得优异成绩。</p>
        <a href="/contact_us">了解更多</a>
    </div>
</section>
<!--welcome end-->

<!--services start-->
<section class="services">
    <div class="inner">
        <h3>服务内容</h3>
        <span class="text">成功的服务，是以建立持久的医患情缘为目标。口腔门诊部实实在在的做着医疗的本质工作，进基层送温暖，进社区义诊，关爱 <br>
            特殊人群等，每年都有数万人在伟联定制自信完美笑容</span>
        <div class="cont">
            <div class="cont_list">
                <img src="http://img.wlkqzs.com/icon_a_01.png" class="lazy" alt="服务">
                <h4>牙齿种植</h4>
                <p>是将纯钛金属经过精密的电脑设计，制造成牙根型的圆柱体，经由手术植入牙槽骨内，经过三、四个月后，当人工牙根与牙槽骨密合后，
                    再于人工牙根上制作牙冠。由于人工牙根深植于牙骨内，不需要藉自然牙齿的力量就可有承受正常的咀嚼力量.</p>
            </div>
            <div class="cont_list">
                <img src="http://img.wlkqzs.com/icon_b_02.png" class="lazy" alt="服务">
                <h4>牙齿修复</h4>
                <p>利用剩余自然牙齿、基托下的黏膜和骨组织作为支持，依靠义齿的固位体和基托来固位行使功能。优点是患者可以取下
                    来进行清洁，牙齿磨除较少；缺点是使用后余牙的自洁功能降低，初戴时常有异物感，对发音有影响，易引起不适或恶心。</p>
            </div>
            <div class="cont_list">
                <img src="http://img.wlkqzs.com/icon_c_03.png" class="lazy" alt="服务">
                <h4>牙齿矫正</h4>
                <p>从概念上来看，牙齿正畸是通过给患者戴矫正器并施加外力使牙齿移位，达到重新排列的目的。正畸对牙体无损伤，
                    不会对牙齿神经造成损伤，更不会使牙齿变松，易脱落。所以说，正畸是一种安全而有效的治疗方法，患者 一般可以达到其理想的效果。</p>
            </div>
            <div class="cont_list last">
                <img src="http://img.wlkqzs.com/icon_d_04.png" class="lazy" alt="服务">
                <h4>牙齿美容</h4>
                <p>是将波长介于480-520nm之间的高强度蓝光，经由光纤传导，通过两片30多层镀膜的特殊光学镜片，再经过特殊光学
                    处理，隔除一切有害的紫外线和红外线，将过氧化氢和直径为20纳米的二氧化硅等为主体的美白剂，快速产生氧化还远作用.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!--services end-->

<!--about start-->
<section class="about">
    <div class="inner">
        <h3>关于我们</h3>
        <p>为需要进行种植、修复、外科手术的专科医生提供综合的解决方案，带来 <br>
        更自信、更高效，更大患者满意度的轻松治疗。</p>
        <div class="cont">
            <div class="left">
                <img src="http://img.wlkqzs.com/img__05.jpg" class="lazy" alt="诊所介绍">
            </div>
            <div class="right">
                <h5>伟联口腔门诊部起源于1980年，历经30年的发展，成为中国高端连锁口腔机构之一。伟联口腔致力于提供一对一，安全、无痛、无菌、高私密化的高档专业齿科服务。以学科齐全、技术力
                    量雄厚、特色专科突出、是一家绿色环保、安全放心的牙科诊所。</h5>
                <ul>
                    <li>·知名医生团队 品质诊疗保障</li>
                    <li>·高配诊疗服务 规范诊疗技术</li>
                    <li>·学术交流会 实现跨越发展</li>
                    <li>·交通便利，车位众多，为你节省更多时间</li>
                    <li>·用关爱之心和实际行动 为更多人带去健康和微笑</li>
                </ul>
                <a href="/contact_us">查看更多</a>
            </div>
        </div>
    </div>
</section>
<!--about end-->

<!--ambient start-->
<section class="ambient">
    <div class="inner">
        <h3>门诊环境</h3>
        <p>门诊形成了“严谨、求精、勤奋、奉献”的精神和兼格，创立了“三基”、“三严”的现代 <br>
            医学教育理念</p>
		
    </div>
</section>
<!--ambient end-->

<%include('./common/footer')%>

<script>

</script>
</body>
</html>