<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="洗牙,牙齿保健,牙周炎,牙周病">
    <meta name="description" content="伟联口腔引进国际最先进的超声波洁牙技术，在放大镜下为您洁牙，菌斑、牙石去除更彻底。步骤精细，轻柔舒适，基本无痛">
    <title>洗牙-牙周病-伟联口腔</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet"  href="/static/css/reset.css">
    <link rel="stylesheet"  href="/static/css/common.css">
    <link rel="stylesheet"  href="/static/css/toothwash.css">
</head>
<body>
<!--解析IE8之间要加上空格-->
<!--[if ite IE 8]>
<p class="browserupgrade">您的浏览器版本过低，请到 <a href="http://browsehappy.com/">这里</a>更新 </p>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js></script>
<![endif]-->

<%include('./common/header')%>

<!--banner start-->
<div class="banner">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner end-->

<!--wrap start-->
<div class="wrap">
    <div class="inner">
        <div class="container">
            <div class="item_1">
                <div class="item_title">
                    <h2 class="title"><span>那些年,我们对洗牙的误解！</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_1.jpg" class="lazy" alt="洁牙保健">
                        <h5>每天刷牙，不用洗牙了？</h5>
                        <p>伟联口腔专家解答：洗牙洗掉的是牙石，牙石仅靠刷是不掉的！口腔中的唾液和细菌都是无穷无尽的，即使
                            每天刷牙，总有一些死角刷不到，日积月累，就形成了牙石，而仅靠牙刷是无法清除掉牙石的... <a href="javascript:;" class="red qiao_chat">【详细】</a></p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_2.jpg" class="lazy" alt="洁牙保健">
                        <h5>洗牙会把牙缝洗大？</h5>
                        <p>伟联口腔专家解答：洗牙洗晚了才会这样！实际上，牙石的堆积、牙龈的炎症会导致牙龈局部肿胀填塞牙缝，
                            而洗牙后清除了牙石，牙龈肿胀逐渐消退，所以牙缝就变得明显了。若不及时洗牙，可能会导致更为严重的后果...<a href="javascript:;"
                                                                                   class="red qiao_chat">【详细】</a></p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_3.jpg" class="lazy" alt="洁牙保健">
                        <h5>洗牙后牙齿变敏感？</h5>
                        <p>伟联口腔专家解答：洗牙不仅不会使牙齿变得敏感，相反定期洗牙可以对牙齿进行有效的脱敏治疗，及时发现
                            口腔问题。牙齿敏感的真正根源是牙周病，若是因怕敏感而不洗牙，那么将会导致牙周病愈演愈烈... <a href="javascript:;" class="red qiao_chat">【详细】</a>
                        </p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_4.jpg" class="lazy" alt="洁牙保健">
                        <h5>洗牙会导致出血、感染？</h5>
                        <p>伟联口腔专家解答：洗牙出血主要是菌斑、牙结石的刺激所导致，当牙齿存在炎症，洗牙才会导致出血。
                            至于感染，只有消毒隔离程序不规范的黑诊所才会有这种担心，因此，洁牙一定要选择专业正规的口腔专科医院... <a href="javascript:;"
                                                                                    class="red qiao_chat">【详细】</a></p>
                    </li>
                </ul>
            </div>
            <div class="item_2">
                <div class="item_title">
                    <h2 class="title"><span>伟联口腔带您全面了解洗牙</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="st">
                    <span>
                        什么是洗牙？人们俗称的"洗牙"，医学术语称为"洁治"。所谓"洁"，就是去掉牙面的细菌、牙石、色素等牙垢，
                        而"治"则指它是治疗牙周病的基本方法之一。通过洗牙可以减轻牙龈炎、牙周炎的炎症状况，但靠单纯洗牙是
                        不能治愈牙周病的。要治好牙周病，还应该在洗牙之后进行进一步的诊断和口腔专业治疗。所以，洗牙的主要
                        目的是为了预防口腔疾病，而不是单纯为了好看... <a href="javascript:;" class="red qiao_chat">【详情咨询】</a>
                    </span>
                </div>
            </div>
            <div class="item_3">
                <div class="item_title">
                    <h2 class="title"><span>伟联洁牙三大技术</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <h3>洗牙是通过洁牙器械去除牙龈上的牙结石、牙菌斑和牙面上沉积的色素，并抛光牙面。
                    能有效预防牙结石引起的牙龈发炎、牙龈红肿、牙龈出血、牙龈萎缩、口臭等口腔疾病，并能护齿、健齿、美白齿。
                    伟联口腔诊所牙医建议6至12个月洁牙一次才有利于牙齿健康。</h3>
                <ul>
                    <li>
                        <h4>【保健洗牙】</h4>
                        <img src="http://img.wlkqzs.com/xy_main1.png" class="lazy" alt="洁牙保健">
                        <p><span class="p_head">超声波去除牙结石：</span>洁牙是利用超声波振动，360度彻底清除牙结石、牙菌斑，再对牙面进行抛光护理。</p>
                    </li>
                    <li>
                        <h4>【专业洗牙】</h4>
                        <img src="http://img.wlkqzs.com/xy_main2.png" class="lazy" alt="洁牙保健">
                        <p><span class="p_head">超声波去牙结石+牙渍+喷砂（含盐）：</span>
                            首先利用超声波振动，360度彻底清除牙结石、牙菌斑，再用普通喷砂去除牙面
                            上沉积的色素（牙渍），最后对牙面进行抛光护理。普通喷砂含钠，咸味。</p>
                    </li>
                    <li>
                        <h4>【无盐专业洗牙】</h4>
                        <img src="http://img.wlkqzs.com/xy_main3.png" class="lazy" alt="洁牙保健">
                        <p><span class="p_head">菌斑染色定位+超声波+无盐喷砂去除牙渍+牙周冲洗+牙周上药+抛光：</span>
                            首先利用瑞士超声波振动，360度彻底清除牙结石、牙菌斑，然后用无纳喷砂去除牙面上沉积的色素，再然
                            后对牙周进行冲洗，冲洗好了上药，最后对牙面进行
                            抛光护理。无盐喷砂，薄荷香味，口感好，去除烟渍和茶渍。</p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="item_4">
                <div class="item_title">
                    <h2 class="title"><span>喷砂洁牙给你带来的好处？</span></h2>
                </div>
                <ul>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_6.jpg" class="lazy" alt="洗牙的好处">
                        <p>防治牙周疾病</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_7.jpg" class="lazy" alt="洗牙的好处">
                        <p>清除牙菌斑、牙结石、牙垢</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_8.jpg" class="lazy" alt="洗牙的好处">
                        <p>避免口臭，清新口气</p>
                    </li>
                    <li>
                        <img src="http://img.wlkqzs.com/toothwash_9.jpg" class="lazy" alt="洗牙的好处">
                        <p>牙齿恢复自然颜色</p>
                    </li>
                </ul>
                <div class="clearfix">

                </div>
            </div>
            <div class="item_5">
                <div class="item_title">
                    <h2 class="title"><span>洁牙典型案例，效果看的见</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="case">
                    <ul>
                        <li><img src="http://img.wlkqzs.com/toothwash_10.jpg" class="lazy" alt=""></li>
                        <li><img src="http://img.wlkqzs.com/toothwash_11.jpg" class="lazy" alt=""></li>
                        <li><img src="http://img.wlkqzs.com/toothwash_12.jpg" class="lazy" alt=""></li>
                        <li><img src="http://img.wlkqzs.com/toothwash_13.jpg" class="lazy" alt=""></li>
                        <li><img src="http://img.wlkqzs.com/toothwash_14.jpg" class="lazy" alt=""></li>
                        <li><img src="http://img.wlkqzs.com/toothwash_15.jpg" class="lazy" alt=""></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
          
            <div class="item_6">
                <div class="item_title">
                    <h2 class="title"><span>牙齿保健相关知识</span><a target="_blank" href="http://p.qiao.baidu.com/cps2/chatIndex?reqParam=%7B%22from%22%3A1%2C%22sessionid%22%3A%22-100%22%2C%22siteId%22%3A%2211503032%22%2C%22tid%22%3A%22-1%22%2C%22userId%22%3A%2224835519%22%2C%22ttype%22%3A1%2C%22pageId%22%3A0%7D">在线咨询</a></h2>
                </div>
                <div class="item6_cont">
                    <ul>
                        <!--<li><a href="javascript:;">• 牙齿矫正时可以洗牙吗</a></li>-->
                            <% for(var i = 0,len = $data.rows.length; i < len; i++){%>
                                <% var article = $data.rows[i]%>
                                <li><a href=/news_detail?id=<%= article.id%>">• <%= article.title%></a></li>
                            <% }%>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--wrap end-->

<%include('./common/footer')%>

<script>
    $(function () {
        $('.show_cont').eq(0).stop().fadeIn().siblings().hide();
        $('#b_tab >ul').find('li').on('mouseover', function () {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $('.show_cont').eq(index).stop().fadeIn().siblings().hide();
        });
    });
</script>
</body>
</html>