*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
header{
	height: 70px;
	background: url(http://img.wlkqzs.com/bg.jpg) no-repeat 0 -1000px;
}

header .title{
	float: left;
	font-size: 24px;
	margin: 8px 20px;
	color: #fff;
}
header .title img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
}
#home{
	margin: 15px 10px 0 0;
}

#exit{
	margin-top: 15px;
}

.wrap{
	width: 100%;
}
.left-nav{
	width: 10%;
	height: auto;
	padding: 0 0 906px 0;
	background: #f2f9fd;
	text-align: center;
	border-right: 1px #ccc solid;
	float: left;
}
.left_nav-title{
	height: 50px;
	line-height: 50px;
	background: url(http://img.wlkqzs.com/bg.jpg) no-repeat 0 -1000px;
	color: #fff;
	font-size: 14px;
}

.setup{
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	margin-top: 0;
	cursor: pointer;
}

.left-nav ul li a{
	height: 26px;
	line-height: 26px;
	position: relative;
	color: #000;
}
.left-nav ul li a:hover{
	color: #337AB7;
}

.icon-caret-right{
	position: absolute;
	border: 4px solid transparent;
	border-left-color: #000;
	top: 5px;
	left: -10px;
}

.breadcrumb{
	padding: 15px 18px !important;
	margin-bottom: 0 !important;
}

.welcome{
	width: 99%;
	height: 800px;
	background: url(http://img.wlkqzs.com/welcome.jpg);
	background-size: 100% 100% ;
	margin: 19px 0 0 8px;
}

.pwd-form{
	margin-left: 100px;
}

.main{
	width: 90%;
	float: left;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle !important;
	text-align: center !important;
}
.panel-footer{
	padding: 0 15px !important;
	background: #fff !important;
}
#table-mr{
	margin-right: 10px !important;
}
.showImg img{
	height:50px !important;
	width:50px !important;
}

@media (max-width: 767px) {
	.left-nav{
		width: 15%;
	}
	.main{
		width: 85%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.left-nav{
		width: 12%;
	}
	.main{
		width: 88%;
	}
}