* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	height: 100%;
	width: 100%;
	background: url("http://img.wlkqzs.com/bg.jpg");
}

.container {
	width: 400px;
	height: 370px;
	margin: 0 auto;
	margin-top: 230px;
	border: 1px #ccc solid;
	background: url("http://img.wlkqzs.com/tmbg-white.png");
}

h2 {
	text-align: center;
	line-height: 80px;
}

span {
	font-size: 12px;
	line-height: 25px;
	margin-left: 40px;
	color: red;
	display: none;
}

.userName {
	width: 300px;
	height: 40px;
	border: 1px solid #ccc;
	background: #fff;
	padding-left: 10px;
	margin-left: 45px;
	border-radius: 5px;
}

.password {
	width: 300px;
	height: 40px;
	border: 1px solid #ccc;
	background: #fff;
	padding-left: 10px;
	margin-left: 45px;
	border-radius: 5px;
}

.login-btn {
	background: #78aff3;
	color: #fff;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	margin: 20px 0 0 150px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.login-btn:hover {
	border: 2px #fff solid;
	color: #000;
}